.lpsp{
    height:400px;
}
.lpsp .l_con {
    width: 580px;
    height: 360px;
    position: relative;
    overflow: hidden;
}
.lpsp .fl {
    float: left;
}
.lpsp .l_con .tit.zaishou {
    background: #ff6600;
}
.lpsp .l_con .tit {
    position: absolute;
    z-index: 0;
    width: 74px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    background: #009944;
}
.lpsp .l_con .tit.zaishou .riangle {
    border-top-color: #ff6600;
}
.lpsp .l_con .tit .riangle {
    position: absolute;
    top: 30px;
    left: 10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 18px solid transparent;
    border-top: 12px solid #009944;
}
.lpsp .l_con .tit.shouqing {
    background: #919191;
}
.lpsp .l_con .tit.shouqing .riangle {
    border-top-color: #919191;
}
.lpsp .l_con .tit.yushou {
    background: #009944;
}
.lpsp .l_con .tit.yushou .riangle {
    border-top-color: #009944;
}
.lpsp .l_con .label {
    width: 80px;
    height: 90px;
    position: absolute;
    z-index:0;
    right: 10px;
    bottom: 10px;
    padding-top: 10px;
    border-radius: 4px;
    overflow: hidden;
}
.lpsp .l_con .label .item {
    padding: 4px 10px;
}
.lpsp .clearfix {
    zoom: 1;
}
.lpsp .l_con .label .yushou {
    background: #009944;
}
.lpsp .l_con .label span {
    display: block;
    height: 18px;
    width: 22px;
    float: left;
    color: #fff;
    position: relative;
    z-index: 11;
    border-radius: 4px;
}
.lpsp .l_con .label .txt {
    line-height: 18px;
    width: 32px;
    margin-left: 6px;
}
.lpsp .l_con .label span {
    display: block;
    height: 18px;
    width: 22px;
    float: left;
    color: #fff;
    position: relative;
    z-index: 11;
    border-radius: 4px;
}
.lpsp .l_con .label .zaishou {
    background: #ff6600;
}
.lpsp .l_con .label span {
    display: block;
    height: 18px;
    width: 22px;
    float: left;
    color: #fff;
    position: relative;
    z-index: 11;
    border-radius: 4px;
}
.lpsp .l_con .label .shouqing {
    background: #919191;
}
.lpsp .l_con .label span {
    display: block;
    height: 18px;
    width: 22px;
    float: left;
    color: #fff;
    position: relative;
    z-index: 11;
    border-radius: 4px;
}
.lpsp .l_con .label .opacity {
    background: #000;
}
.lpsp .opacity {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
    background: #fff;
    z-index: 10;
}
.lpsp .r_con {
    width: 480px;
}
.lpsp .fr {
    float: right;
}
.lpsp .r_con .tab_nav {
    width: 100%;
    height: 30px;
    position: relative;
    overflow-x: auto;
}
.lpsp .r_con .tab_nav li {
    float: left;
    width: 80px;
    margin-left: 0;
}
.lpsp .tab_nav li {
    float: left;
    margin-left: 20px;
}
.lpsp .r_con .tab_nav a.active, .lpsp .r_con .tab_nav a:hover {
    color: #00AC00;
    border-color: #00AC00;
}
.lpsp .r_con .tab_nav a {
    position: relative;
    z-index: 2;
    display: block;
    line-height: 28px;
    border-bottom: 2px solid #919191;
    text-align: center;
}
.lpsp .r_con .tab_nav li a.active, .lpsp .r_con .tab_nav li a:hover {
    color: #00AC00;
}
.lpsp .r_con .tab_nav li a {
    color: #333;
}
.lpsp .r_con .tab_nav .b_l {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background: #919191;
}
.lpsp .r_con .m_info {
    margin-top: 10px;
}
.lpsp .r_con .m_info li {
    float: left;
    width: 50%;
    height: 36px;
    line-height: 36px;
}
.lpsp .r_con .m_info li span {
    color: #333;
}
.lpsp .r_con .m_info li {
    float: left;
    width: 50%;
    height: 36px;
    line-height: 36px;
}
.lpsp .r_con .s_info h4 {
    height: 30px;
    line-height: 30px;
    padding-left: 20px;
    background: #f0f0f0;
    color: #333;
}
.lpsp .r_con .s_info .table {
    width: 100%;
}
.lpsp .r_con .s_info .table li {
    float: left;
    width: 100%;
}
.lpsp .r_con .s_info .table ol li {
    width: 112.5px;
    line-height: 24px;
    padding: 3px 0;
    color: #333;
}
.lpsp .r_con .s_info .table .tbd {
    height: 150px;
    overflow: auto;
}
.lpsp .r_con .s_info .table li {
    float: left;
    width: 100%;
}