.lpwd{
    /*width: 1200px;*/
    margin: 0 auto;
    margin-bottom: 30px;
}
.lpwd .head{
    height: 52px;
    line-height: 52px;
    position: relative;
    padding: 16px 0;
    margin-bottom: 20px;
}
.lpwd .head a{
    position: absolute;
    right: 1px;
    top: 24px;
    height: 48px;
    width: 100px;
    font-size: 16px;
    text-align: center;
    border-radius: 4px;
    color: #fff;
    background: #00AC00;
}

.lpwd .asking,.lpwd .answer{display:inline-block;position: relative;margin-bottom: 10px;line-height: 18px;width: 100%;}
.lpwd .asking .aico,.lpwd .answer .aico{position: absolute;display:inline-block;width: 18px;height: 18px;line-height: 18px;color: #fff;text-align: center;font-size: 12px;border-radius: 2px;margin-right: 10px;}
.lpwd .answer,.lpwd .asking{padding-left: 26px;}
.lpwd .asking .aico{background-color: #f60;top:6px;left: 0;}
.lpwd .answer .aico{background-color: #5dbd5f;left: 26px;}
.lpwd .asking .asking-tit{font-size: 16px;line-height: 30px;color: #333;}
.lpwd .asking p{color: #999;}
.lpwd .answer .acon{padding-left: 26px;}
.lpwd .answer p{color: #666;}