<footer class="footer-wrap">
    <div class="footer-nav">
        {eju:channel type="top" row="60" id="field"}
        <a class="items js-dl-app" href="{$field.typeurl}">
            {$field.typename}
        </a>
        {/eju:channel}
    </div>
    <p class="copyright">{eju:global name='web_copyright' /}</p>
    <p class="copyright">{eju:global name='web_recordnum' /}</p>
</footer>

<style>
    .copyright a{
        padding: 2px 20px;
        font-size: 12px;
        color: #ccc;
        line-height: 1.2;
        margin: 0;
    }
</style>