<!DOCTYPE html>
<html>
<head>
    <title>{$eju.field.seo_title}</title>
    <meta name="renderer" content="webkit" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=0,minimal-ui" />
    <meta name="description" content="{$eju.field.seo_description}" />
    <meta name="keywords" content="{$eju.field.seo_keywords}" />
    <link href="{eju:global name='web_cmspath' /}/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    {eju:static file="skin/css/iconfont.css" /}
    {eju:static file="skin/css/amazeui.min.css" /}
    {eju:static file="skin/css/aflist.css" /}
    {eju:static file="skin/css/mobile2.css" /}

    {eju:static file="skin/js/jquery.min.js" /}
    {eju:static file="skin/js/amazeui.min.js" /}
    {eju:static file="skin/js/iscroll.js" /}
    {eju:static file="skin/js/swiper-3.4.2.jquery.min.js" /}
    {eju:static file="skin/js/amazeui.lazyload.min.js" /}
</head>
<body>
{eju:include file="header.htm"/}
<section class="af-sx">
    <div class="search-wrap" id="afsearch">
        <div class="search-text"> <i class="icon-search iconfont"></i>
            <input class="text" type="text" name="keyword" value="" placeholder="输入房源名称开始找房">
        </div>
    </div>
    {eju:screening id='field' typeid='12' addfields="province_id,city_id,total_price,room,characteristic,diy_junjia" currentstyle='on' show='2' alltxt='不限' opencity='2'}
    <div class="af-sx-body">
        {eju:volist name='$field.list' id='vo'}
        <a class="act" name="af-tab{$e}" href="#">
            <span class="ellips">{$vo.title}</span>
            <i class="icon"></i>
        </a>
        {/eju:volist}
    </div>
    {eju:volist name='$field.list' id='vo'}
    <div class="af-sx-list af-tab{$e}" style="display: none;">
        <div class="af-sx-content">
            <div class="slide-body sx-child">
                <div class="slide-sct">
                    {eju:volist name='$vo.dfvalue' id='vo2'}
                    <li><a {$vo2.onClick} class="act {$vo2.currentstyle}">{$vo2.name}</a></li>
                    {/eju:volist}
                </div>
            </div>
        </div>
    </div>
    {/eju:volist}
    {$field.hidden}
    {/eju:screening}
</section>
<!-- 搜索弹出 -->
<div class="search_cont">
    <div class="search_cont_wrap">
        <div class="search-text"> <a class="search_back"><i class="icon-return iconfont"></i></a>
            {eju:searchform channelid='13' type='default'}
            <form id="search_form" method="get" action="{$field.action}">
                <i onclick="subDo()" class="icon-search iconfont"></i>
                <input class="text" type="text" name="keywords" value="{$Request.param.keywords}" placeholder="输入房源名称开始找房">
                {$field.hidden}
            </form>
            <a class="search_btn" onclick="subDo()" >搜索</a>
            {/eju:searchform}
        </div>
        <div class="zf_findhouse">
            <h3>热门搜索</h3>
            <ul class="tags">
                {eju:screening id='field' typeid='12' addfields='characteristic' currentstyle='act2' alltxt='off'}
                {eju:volist name='$field.list' id='vo'}
                {eju:volist name='$vo.dfvalue' id='vo2'}
                <li class="tag-4"><a {$vo2.onClick} target="_blank">{$vo2.name}</a></li>
                {/eju:volist}
                {/eju:volist}
                {$field.hidden}
                {/eju:screening}
            </ul>
        </div>
        <div class="zf_findhouse">
            <h3>快捷找房</h3>
            {eju:screening id='field' typeid='12' currentstyle='active' alltxt='不限'}
            {eju:volist name='$field.list' id='vo'}
            <div class="find-item">
                <div class="type">{$vo.title}：</div>
                <ul class="list find-zone">
                    {eju:volist name='$vo.dfvalue' id='vo2'}
                    <li><a {$vo2.onClick} class="act">{$vo2.name}</a></li>
                    {/eju:volist}
                </ul>
            </div>
            {/eju:volist}
            {$field.hidden}
            {/eju:screening}
        </div>
    </div>
</div>
<div id="wrapper">
    <div class="af-lp-list">
        <ul class="am-list" id="lists0006" data-total="100">
            {eju:arclist tagid="lists0006" row='10' key='n' titlelen='30' infolen='160' orderby='new' id="field"}
            <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-right pet_list_one_block">
                <a href="{$field.arcurl}">
                    <div class="am-u-sm-4 newhouse-pic">
                        <img data-original="{$field.litpic}"  src="{$field.litpic}" class="newhouse-img lazy">
                    </div>
                    <div class=" am-u-sm-8 am-list-main newhouse-info ">
                        <p class="newhouse-name">{$field.title}</p>
                        <p class="newhouse-hx">{$field.room}室{$field.living_room}厅{$field.toilet}卫 {$field.area}㎡ {$field.aspect}  <span class="new"> {$field.total_price} <em>{$field.price_units}</em> </span></p>
                        <p class="newhouse-dz">{eju:arcview aid='$field.joinaid' id='field2'}{$field2.title}{/eju:arcview} -{$field.address} </p>
                        <p class="newhouse-jg"></p>
                    </div>
                </a>
            </li>
            {eju:eq name='$n' value='5'}
            {eju:ad aid='9'}
            <li class="list_gg">
                <a href="{$field.links}">
                    <img src="{$field.litpic}">
                </a>
            </li>
            {/eju:ad}
            {/eju:eq}
            {eju:eq name='$n' value='11'}
            {eju:ad aid='10'}
            <li class="list_gg">
                <a href="{$field.links}">
                    <img src="{$field.litpic}">
                </a>
            </li>
            {/eju:ad}
            {/eju:eq}
            {eju:eq name='$n' value='16'}
            {eju:ad aid='11'}
            <li class="list_gg">
                <a href="{$field.links}">
                    <img src="{$field.litpic}">
                </a>
            </li>
            {/eju:ad}
            {/eju:eq}
            {/eju:arclist}
        </ul>
        {eju:arcpagelist row='10' tagid='lists0006' tips='数据加载完成'}
        <p id="loading-alt"><a href="javascript:void(0);" {$field.onclick}>点击加载更多</a></p>
        {/eju:arcpagelist}
    </div>
</div>

<script type="text/javascript">
    $(function() {
        $("img.lazy").lazyload();
        // 搜索弹出
        $("input.text").focus(function() {
            $(".search_cont").css("display", "block")
            $("html,body").addClass("noscroll");
        });
        $(".search_back").click(function() {
            $(".search_cont").css("display", "none")
            $("html,body").removeClass("noscroll");
        });

        $(".af-sx-body a").click(function() {
            if ($(".af-sx-body a").eq($(this).index()).hasClass("cur")) {
                $(".af-sx-body a").eq($(this).index()).removeClass('cur');
                $(".af-sx-list").eq($(this).index()).toggle().siblings(".af-sx-list").hide();
            } else {
                $(".af-sx-body a").eq($(this).index()).addClass("cur").siblings().removeClass('cur');
                $(".af-sx-list").eq($(this).index()).toggle().siblings(".af-sx-list").hide();
            }
            var display = $('.af-sx-list').eq($(this).index()).css('display');
        });
        $(".slide-sct a").click(function() {
            $(".slide-sct a").eq($(this).index()).addClass("on").siblings().removeClass('on');
            $(this).find("cur").text($(".slide-sct a").eq($(this).index()).text());
        });
    });
</script>
<!--列表数据加载-->
{eju:static file="skin/js/laytpl.js" /}
<script>
    $(function() {
        //屏幕滑动促发事件
        $(window).scroll(function() {
        });
    });
    function subDo(){
        $("#search_form").submit();
    }
</script>
</body>
</html>
