<!DOCTYPE html>
<html>
<head>
<title>搜索页_{$eju.field.keywords}_{eju:global name="web_name" /}</title>
<meta name="renderer" content="webkit" />
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=0,minimal-ui" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<link href="{eju:global name='web_cmspath' /}/favicon.ico" rel="shortcut icon" type="image/x-icon" />
{eju:static file="skin/css/iconfont.css" /}
{eju:static file="skin/css/amazeui.min.css" /}
{eju:static file="skin/css/aflist.css" /}
{eju:static file="skin/css/mobile2.css" /}

{eju:static file="skin/js/jquery.min.js" /}
{eju:static file="skin/js/amazeui.min.js" /}
{eju:static file="skin/js/iscroll.js" /}
{eju:static file="skin/js/swiper-3.4.2.jquery.min.js" /}
{eju:static file="skin/js/amazeui.lazyload.min.js" /}
</head>
<body>
{eju:include file="header.htm"/} 

<!-- 搜索内容 -->
<div id="wrapper">
  <div class="af-lp-list" style="padding-top: 50px;">
    <div class="search-title"> 你搜索"<b>{$eju.field.keywords}</b>"的结果如下 </div>
    <ul class="am-list">
      {eju:list pagesize="10" titlelen="30"}
      <li class="search-box"> <a href="{$field.arcurl}">
        <div class="am-u-sm-4 newhouse-pic"> <img src="{$field.litpic}" class="newhouse-img lazy"> </div>
        <div class=" am-u-sm-8 am-list-main newhouse-info ">
          <p class="search-name">{$field.title}</p>
          <p class="search-des">{$field.seo_description|html_msubstr=###,0,50,true} </p>
        </div>
        </a> </li>
      {/eju:list}
    </ul>
    <div class="page-box">
      <ul class="pagination">
        {eju:pagelist listitem='index,pre,next,end' listsize='2' /}
      </ul>
    </div>
  </div>
</div>
<!-- 搜索内容 end-->

</body>
</html>
