<!DOCTYPE html>
<html>
<head>
    <title>{$eju.field.seo_title}</title>
    <meta name="renderer" content="webkit" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=0,minimal-ui" />
    <meta name="description" content="{$eju.field.seo_description}" />
    <meta name="keywords" content="{$eju.field.seo_keywords}" />
    <link href="{eju:global name='web_cmspath' /}/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    {eju:static file="skin/css/iconfont.css" /}
    {eju:static file="skin/css/amazeui.min.css" /}
    {eju:static file="skin/css/aflist.css" /}
    {eju:static file="skin/css/mobile2.css" /}

    {eju:static file="skin/js/jquery.min.js" /}
    {eju:static file="skin/js/amazeui.min.js" /}
    {eju:static file="skin/js/iscroll.js" /}
    {eju:static file="skin/js/swiper-3.4.2.jquery.min.js" /}
    {eju:static file="skin/js/amazeui.lazyload.min.js" /}
    {eju:static file="skin/layer/layer.min.js" /}

</head>
<style>
     .input-text{
        border: 1px #CCC solid;
        font-size: 1.45rem;
        float: left;
        width: 100%;
        margin-top: 1.2rem;
        margin-bottom: 1.2rem;
        border-radius: 5px;
        line-height: 3rem;
        height: 3rem;
        padding: 5px;
    }
</style>
<body>
{eju:include file="header.htm"/}


<div data-am-widget="slider" class="detail-banner am-slider am-slider-a1" data-am-slider='{"directionNav":false,"controlNav":false}' style="margin-top: 0;">
    <ul class="am-slides">
        {eju:volist name="$eju.field.photo_list" id="vo"}
        <li class="newhouse-banner">
            <a href="#">
                <img src="{$vo.photo_pic}">
            </a>
            <div class="pet_slider_shadow"></div>
        </li>
        {/eju:volist}
    </ul>
</div>
<div class="lp-detail-intr">
    <h2>{$eju.field.title}<span class="intr-title">{$eju.field.sale_status}</span></h2>
    <ul>
        <li><span>参考均价：</span><span class="intr-title-jg"><em> {eju:notempty name="$eju.field.average_price"}{$eju.field.average_price}{eju:else /}暂无{/eju:notempty}</em>{eju:notempty name="$eju.field.average_price"}{$eju.field.price_units}{/eju:notempty}
            <a class="jj_callme" data-text="价格变动第一时间通知您。" href="#" data-am-modal="{target:'#af-user-yy'}">
                (<i class="iconfont icon-jiangjia"></i>降价通知)
            </a>
        </span>
        </li>
        <li> 价格有效期至：{$eju.field.price_time|myDate='Y-m-d',###} </li>
        <li><span>地址：</span>{$eju.field.address}</li>
        <li><span>户型：</span>
            {eju:volist name="$eju.field.huxing_list" id="vo"}
                {$vo.huxing_room}室(建面{$vo.huxing_area}㎡)
            {/eju:volist}
        </li>
        <li><span>特色：</span>
            {eju:volist name='$eju.field.characteristic' id='vo'}
            <span class="intr-title-ts">{$vo}</span>
            {/eju:volist}
        </li>
    </ul>
    <div class="tg_tel">
        <span><i class="iconfont icon-dianhua"></i>{$eju.field.sale_phone}{eju:notempty name="$eju.field.phone_code"} 转 {$eju.field.phone_code}{/eju:notempty}</span>
        <a class="tg_tel_phone" href="tel:{$eju.field.sale_phone}">电话咨询</a>
    </div>
    <div class="tg_tel">
        <span><i class="iconfont icon-feiji"></i>24小时为您免费接送机</span>
        <a class="tg_jj" data-text="24小时接送机，住宿安排，专车看房，全程免费" data-am-modal="{target:'#af-user-yy'}" href="#">预约接机</a>
    </div>
</div>
{eju:notempty name="$eju.field.is_discount"}
<div class="yhsq_m_wrap">
    <div class="yhsq_m1"><span><a href="javascript:;" style="color:#fa5741;">{$eju.field.title}</a></span>优惠折扣</div>
    <ul>
        <li class="yhsq_m2"> {$eju.field.discount}</li>
        <li class="yhsq_m5"> <a href="#" data-text="楼盘动态，优惠折扣免费获取" data-am-modal="{target:'#af-user-yy'}">申请优惠</a> </li>
    </ul>
</div>
{/eju:notempty}

<div class="lp-detail-info">
    <h3> <a href="#" class="af-head"> <span class="left">楼盘详情</span>
        <div class="clear"></div>
    </a> </h3>
    <ul class="detail-info-list">
        <li> <span class="info-li-name">物业类型：</span>
            <span class="info-li-text">{$eju.field.characteristic|implode=",",###}</span>
        </li>
        <li> <span class="info-li-name">建筑类别：</span> <span class="info-li-text">{$eju.field.building_type|implode=",",###}</span> </li>
        <li> <span class="info-li-name">建筑状况：</span> <span class="info-li-text">{$eju.field.fitment|implode=",",###}</span> </li>
        <li> <span class="info-li-name">建筑面积：</span> <span class="info-li-text">{$eju.field.building_area}{$eju.field.building_area_unit}</span> </li>
        <li> <span class="info-li-name">占地面积：</span> <span class="info-li-text">{$eju.field.floor_area}{$eju.field.floor_area_unit}</span> </li>
        <li> <span class="info-li-name">物业公司：</span> <span class="info-li-text">{$eju.field.address}</span> </li>
        <li> <span class="info-li-name">物&nbsp;业&nbsp; 费：</span> <span class="info-li-text">{$eju.field.property_fee}{$eju.field.property_fee_unit}</span> </li>
        <li> <span class="info-li-name">开&nbsp;发&nbsp; 商：</span> <span class="info-li-text">{$eju.field.developer}</span> </li>
    </ul>
</div>
<div class="lp-detail-huxing">
    <h3> <a href="" class="af-head"> <span class="left">在售户型</span>
        <div class="clear"></div>
    </a> </h3>
    <ul class="af-hixing-list">
        {eju:volist name="$eju.field.huxing_list" id="vo"}
        <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-right pet_list_one_block" {eju:gt name="$i" value="3"}style="display: none;"{eju:else /}style="display: flex;"{/eju:gt} >
            <a href="{$vo.huxing_id|nextarcurl=###,$eju.field,'huxing'}">
                <div class="am-u-sm-4 huxing-pic"> <img src="{$vo.huxing_pic}" class="huxinglist-img" alt="{$vo.huxing_title}"> </div>
                <div class=" am-u-sm-8 am-list-main huxing-info ">
                    <p class="huxinglist-name">{$vo.huxing_room}室{$vo.huxing_living_room}厅{$vo.huxing_toilet}卫{$vo.huxing_kitchen}厨 </p>
                    <p class="huxinglist-name">建筑面积{$vo.huxing_area}㎡</p>
                    <p class="huxinglist-dz">参考总价：<em>{$vo.huxing_price}万元</em></p>
                </div>
            </a>
        </li>
        {/eju:volist}
    </ul>
    <div class="clear"></div>
    <a href="javascript:void(0)" class="hx_more_btn">查看更多户型</a>
</div>
<div class="lp-detail-dt">
    <h3>
        <a href="javascript:;" class="af-head">
            <span class="left">楼盘动态</span>
            <div class="clear"></div>
        </a>
    </h3>
    {eju:arclist typeid='4' orderby='new' limit="0,2" id="field"}
    <div class="detail-dt-cont">
        <a href="{$field.arcurl}">
            <div class="dt-cont-til">{$field.title}</div>
        </a>
        <p class="dt-cont-data">
            <span class="cont-bq">最新动态</span>
            <span class="cont-data">发表于{$field.update_time|MyDate='Y-m-d',###}</span>
        </p>
        <a href="{$field.arcurl}">
            <p class="dt-cont-info"> {$field.seo_description|html_msubstr=###,0,50}...</p>
        </a>
    </div>
    {/eju:arclist}
</div>
<li class="list_gg lp-detail-dt">
    <a href="tel:{$eju.field.sale_phone}">
        <img src="{eju:global name='web_templets_mobile' /}/skin/images/house-list_tjf.png">
    </a>
</li>
<!-- 楼盘问答 -->
{eju:ask id="field" bestanswer="off"}
{$field.hidden}
<div class="nh_zbpt lpwd" id="lpwd">
    <div class="head">
        <h2 class="nh_head">楼盘问答</h2>
        <a href="{$field.AddAskUrl}">
            我要提问
        </a>
    </div>
    <div class="con_box">
        <ul class="list">
            {eju:volist name="$field.AskData" id="vo"}
            <li>
                <div class="asking">
                    <div class="aico">问</div>
                    <div class="acon">
                        <a class="asking-tit" href="{$vo.AskUrl}">{$vo.ask_title}</a>
                        <p>{$vo.content}</p>
                    </div>
                </div>
                {eju:volist name="$vo.AnswerData" id="vo2"}
                <div class="answer">
                    <div class="aico">答</div>
                    <div class="acon">
                        <p>{$vo2.content}</p>
                    </div>
                </div>
                {/eju:volist}
            </li>
            {/eju:volist}
        </ul>
    </div>
</div>
{/eju:ask}


<div class="lp-detail-map">
    <h3> <a href="javascript:;" class="af-head"> <span class="left">周边配套</span>
        <div class="clear"></div>
    </a> </h3>
    <div class="detail-map-wrap">
        <div id="map_canvas" style="width:100%;height: 300px;"></div>
        {eju:surroundings field="$eju['field']" canvas="map_canvas" }
        {$field.hidden}
        {/eju:surroundings}
    </div>
</div>
<div class="bmkf_wrap">
    <h3> <a href="#" class="af-head"> <span class="left">报名看房</span>
        <div class="clear"></div>
    </a> </h3>
    <div class="bmkf_form">
        <p class="lp_answer_form_p"><em>24小时接送机、住宿安排、看房全程免费</em></p>
        {eju:form formid="1"}
        <form method="post" id="{$field.form_name}" action="{$field.action}" onsubmit="{$field.submit}">
            <input type="text" class="input-text" id="{$field.attr_1}" name="{$field.attr_1}" placeholder="{$field.itemname_1}" >
            <input type="submit" class="lp_answer_form_btn" value="马上报名" id="yuyue_btn_sub2" >
            <div class="clear"></div>
            {$field.hidden}
        </form>
        {/eju:form}
    </div>
</div>
<div class="tjlp_list">
    <h3> <a href="javascript:;" class="af-head"> <span class="left">推荐楼盘</span>
        <div class="clear"></div>
    </a> </h3>
    <ul class="clearfloat">
        {eju:arclist channelid='9' flag='h' orderby='new' row='4' id="field"}
        <li>
            <a href="{$field.arcurl}">
                <div class="tjlp_list_img">
                    <img src="{$field.litpic}" alt="{$field.title}">
                </div>
                <div class="tjlp_list_cont">
                    <p class="tjlp_list_head">{$field.title}<span class="intr-title">{$field.sale_status}</span></p>
                    <p class="tjlp_list_jg"><em>{$field.average_price}</em>{$field.price_units}</p>
                    <p class="tjlp_list_area">{$field.address}</p>
                    <p class="tjlp_list_area">
                        {eju:volist name="$field.characteristic" id="vo"}
                        <span class="tjlp_list_tag intr-title-ts">{$vo}</span>
                        {/eju:volist}
                    </p>
                </div>
            </a>
        </li>
        {/eju:arclist}
    </ul>
</div>
<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default " id="">
    <ul class="am-navbar-nav am-cf am-avg-sm-4">
        <li>
            <a class="tg_tel_phone" href="tel:{$eju.field.sale_phone}">电话咨询</a>
        </li>
        <li style="border-right: 1px solid #fff;border-left: 1px solid #fff;">
            <a href="#" data-am-modal="{target:'#af-user-yy'}">
                <span class="am-icon-bus"   style="display: inline-block"></span>
                <span class="am-navbar-label" data-text="24小时接送机，住宿安排，专车看房，全程免费" style="display: inline-block;font-size: 15px;">预约看房</span>
            </a>
        </li>
        <li>
            <a href="http://wpa.qq.com/msgrd?v=3&uin={$eju.field.saleman.saleman_qq}&site=qq&menu=yes">
                <span class="am-icon-comment-o" style="display: inline-block"></span>
                <span class="am-navbar-label" style="display: inline-block;font-size: 15px;">在线咨询</span>
            </a>
        </li>
    </ul>
</div>
<div class="am-modal am-modal-prompt" tabindex="-1" id="af-user-yy">
    <div class="am-modal-dialog" style="width: 100%;height: 40%;">
        {eju:form formid="1" success="closemodal"}
        <form method="post" id="{$field.form_name}" action="{$field.action}" onsubmit="{$field.submit}">
            <div class="am-modal-hd">预约看房 </div>
            <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close="" style="top: 4px;right: 4px;position: absolute">×</a>
            <p class="am-modal-text">24小时接送机，住宿安排，专车看房，全程免费</p>
            <input type="text" class="input-text" id="{$field.attr_1}" name="{$field.attr_1}" placeholder="{$field.itemname_1}" >
            <button type="submit" id="yuyue_btn_sub" class="am-btn am-btn-warning af-yyzx">免费预约</button>
            <p class="am-modal-zy">*我们将严格保密您的个人信息，请您放心留下联系方式</p>
            {$field.hidden}
        </form>
        <script>
            function closemodal(){
                $(".layui-layer-loading1").hide();
                $(".am-modal,.am-dimmer").hide();
                $("body").removeClass("am-dimmer-active");
            }
        </script>
        {/eju:form}
    </div>
</div>
<script>
    $(function() {
        var hxli = $(".lp-detail-huxing ul li");
        var hxul = $(".lp-detail-huxing ul");
        function hidehx(){
            hxli.hide();
            hxli.slice(0,3).css("display","flex");
        }
        if(hxli.length<=3){
            $(".hx_more_btn").hide();
            hxul.removeClass("af-hixing-list");
        }else{
            hidehx();
        }
        $(".hx_more_btn").click(function(){
            hxul.toggleClass("af-hixing-list");
            if(hxul.hasClass("af-hixing-list")){
                $(this).text("查看更多户型");
                hidehx();
            }else{
                $(this).text("收回更多户型");
                hxli.css("display","flex");
            }
        });
        $(".yhsq_m5 a").click(function(){
            $(".am-modal-hd,#yuyue_btn_sub").text($(".yhsq_m5 a").text());
            $(".am-modal-dialog #type").val(3);
            $(".am-modal-text").text($(this).attr("data-text"));
        });
        $(".am-navbar-label").click(function(){
            $(".am-modal-hd,#yuyue_btn_sub").text($(".am-navbar-label").eq(1).text());
            $(".am-modal-dialog #type").val(1);
            $(".am-modal-text").text($(this).attr("data-text"));
        });
        $(".tg_jj,.jj_callme").click(function(){
            $(".am-modal-hd,#yuyue_btn_sub").text($(this).text());
            $(".am-modal-text").text($(this).attr("data-text"));
            $(".am-modal-dialog #type").val(5);
        });
        function complate(result) {
            if (result.status == 1) {
                layer.msg(result.msg, {icon : 1});
                setTimeout(function() {
                    location.reload();
                }, 1500);
            } else {
                layer.msg(result.msg, {icon : 2});
            }
        }
    });
</script>


</body>
</html>
