<div class="anchor_layer" id="navHeight">
    <div class="nav_wrap" id="nav_wrap">
        <ul class="wrap_layer">
            <li class="wrap_tab"> <a  class="tab active" href="#hx">户型图</a> </li>
            <li class="wrap_tab"> <a class="tab"  href="#lpdt">楼盘动态</a> </li>
            <li class="wrap_tab"> <a class="tab" href="#lpxq">楼盘详情</a> </li>
            <li class="wrap_tab"> <a class="tab" href="#pic">楼盘相册</a> </li>
            <li class="wrap_tab"> <a class="tab" href="#zbpt">周边配套</a> </li>
            <li class="wrap_tab"> <a class="tab" href="#tj">推荐楼盘</a> </li>
        </ul>
    </div>
</div>