<!-- 面包屑导航（位置） -->
<div class="conview">
  <div class="weizhi">
    <ul>
      <li><a href="javascript:;">你的位置</a>：</li>
      <li>{eju:position style="crumb" /} > {$eju.field.title}</li>
      <div class="clear"></div>
    </ul>
  </div>
  <div class="clear"></div>
  <div class="af-title">
    <h1>{$eju.field.title}</h1>
        <span class="house_status">{$eju.field.sale_status}</span>
        {eju:volist name='$eju.field.characteristic' id='vo'}
        <span id="c_3">{$vo}</span>
        {/eju:volist}
    <div class="clear"></div>
     
  </div>
</div>
<!-- 面包屑导航（位置）end -->

<!-- 楼盘基本信息 -->
<div class="nhouse_head">
  <div class="detail_slide left">
    <div class="large_box">
      <ul>
        {eju:volist name="$eju.field.photo_list" id="vo"}
        <li  {eju:gt name="$i" value="1"}style="display: none;"{/eju:gt}> <img src="{$vo.photo_pic}" width="730" height="380"> </li>
        {/eju:volist}
      </ul>
    </div>
    <div class="small_box"> <span class="btn left_btn"></span>
      <div class="small_list">
        <ul style="width: 8840px; margin-left: 0px;">
          {eju:volist name="$eju.field.photo_list" id="vo"}
          <li {eju:eq name="$i" value="1"}class="on"{/eju:eq}> <img src="{$vo.photo_pic}" width="126" height="73">
            <div class="bun_bg">
              <div class="img_style"> <a >{$vo.photo_type}{$vo.photo_title}</a> </div>
            </div>
          </li>
          {/eju:volist}
        </ul>
      </div>
      <span class="btn right_btn"></span> </div>
  </div>
  <!-- 右侧info -->
  <div class="nh_content right">
    <div class="topfix">
      <div class="hd_jiage">
        <p>
            <span class="hd_jiage_tag">参考均价</span> <span class="hd_jiage_big">{eju:notempty name="$eju.field.average_price"}{$eju.field.average_price}{eju:else /}暂无{/eju:notempty}</span>{eju:notempty name="$eju.field.average_price"}{$eju.field.price_units}{/eju:notempty}
            <span class="hd_jiage_rose"><em class="lptb">价格有效期至：</em>{$eju.field.price_time|myDate='Y-m-d',###}</span>
        </p>
      </div>
      <div class="hd_info">
        <ul>
          <li><span class="lptb">装修情况:</span>
            <p class="lptb02">{eju:volist name="$eju.field.fitment" id="vo"}{$vo}{/eju:volist}</p>
          </li>
          <li><span class="lptb">开盘时间:</span>
            <p class="lptb02">{$eju.field.opening_time|myDate='Y年m月d日',###}</p>
          </li>
          <li><span class="lptb">物业类型:</span>
            <p class="lptb02">{eju:volist name="$eju.field.manage_type" id="vo"}{$vo}{/eju:volist}</p>
          </li>
          <li><span class="lptb">交房时间:</span>
            <p class="lptb02">{$eju.field.complate_time|myDate='Y年m月d日',###}</p>
          </li>
          <li><span class="lptb">产权年限:</span>
            <p class="lptb02">{$eju.field.property}{$eju.field.property_unit} </p>
          </li>
          <li><span class="lptb">所在区域:</span>
            <p class="lptb02">[{$eju.field.province_id|get_province_name}-{$eju.field.city_id|get_city_name}]</p>
          </li>
          <li><span class="lptb">项目地址:</span>
            <p class="lptb02">{$eju.field.address}</p>
          </li>
        </ul>
      </div>
      <div class="lpagent">
        <div class="lpagent_bmtel">
            <div class="lpagent_tel clearfloat"> 
                <span class="tel_num left"> <i>售楼热线</i> <b>{$eju.field.sale_phone} {eju:notempty name="$eju.field.phone_code"} 转 {$eju.field.phone_code}{/eju:notempty}</b> </span>
                    <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin={$eju.field.saleman.saleman_qq}&site=qq&menu=yes" data-uri="http://wpa.qq.com/msgrd?v=3&uin={$vo.saleman_qq}&site=qq&menu=yes" class="lpagent_tel_btn right"> 在线咨询 </a>
            </div>
            <div class="lpagent_bm clearfloat">
              {eju:form formid="1"}
              <form method="post" id="{$field.form_name}" action="{$field.action}" onsubmit="{$field.submit}">
                <div class="bm_wrap left">
                  <input type="text"  id="bm_ins" id="{$field.attr_1}" name="{$field.attr_1}" placeholder="{$field.itemname_1}" >
                  <p class="bm_text">报名看房享受优惠，免费接机，住宿安排</p>
                </div>
                <input type="submit" class="bt_yhbm right" value="报名看房" id="yuyue_btn_sub" style="font-size: 14px;">
                <div class="clear"></div>
                {$field.hidden}
              </form>
              {/eju:form}
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>

<!-- 楼盘基本信息 end -->
{eju:static file="skin/js/carousel.min.js" /}
{eju:static file="skin/layer/layer.min.js" /}
<script>
    //询问低价
    $(function() {
        $(".detail_slide").thumbnailImg({
            large_elem : ".large_box",
            small_elem : ".small_list",
            left_btn : ".left_btn",
            right_btn : ".right_btn"
        });
        $('.dialog').bind('click',function(){
            var url = $(this).data('uri');
            $.layer({
                type: 2,
                shadeClose: true,
                title: false,
                closeBtn: [1, true],
                shade: [0.8, '#000'],
                border: [0],
                area: ['500px', '330px'],
                offset: ['165px',''],
                iframe: {src: url}
            });
        });
    });
    //shangqiao
    function chat(url) {
        //获得窗口的垂直位置
        var iTop = (window.screen.height - 710) / 2;
        //获得窗口的水平位置
        var iLeft = (window.screen.width - 780) / 2;
        window.open(url,"_blank","left="+iLeft+",top="+iTop+",width=780,height=710,toolbar=no,menubar=no,scrollbars=no" );
    }
</script>