<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{$eju.field.seo_title}</title>
    <meta name="renderer" content="webkit" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=0,minimal-ui" />
    <meta name="description" content="{$eju.field.seo_description}" />
    <meta name="keywords" content="{$eju.field.seo_keywords}" />
    <link href="{eju:global name='web_cmspath' /}/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    {eju:static file="skin/css/public.css" /}
    {eju:static file="skin/css/iconfont.css" /}
    {eju:static file="skin/css/nhouse_index.css" /}
    {eju:static file="skin/css/nhouse_dt.css" /}
    {eju:static file="skin/css/nhouse_info.css" /}
    {eju:static file="skin/js/jquery.min.1.7.2.js" /}
    {eju:static file="skin/js/top_footer.js" /}
    {eju:static file="skin/js/house-map.js" /}
    {eju:static file="skin/js/nav.js" /}
</head>
<style>

</style>
<body>
{eju:include file="header.htm"/}
<!-- 导航 -->
{eju:include file="main_xinfang.htm"/}
{eju:include file="follow_xinfang.htm"/}

<div class="bar_nav">
    <p class="lpagent_yh_text">
        {eju:minmax type="huxing" id="vo"}
        {$eju.field.title}{$eju.field.sale_status}，建面为{$vo.min_area}-{$vo.max_area}平米{$vo.min_room}至{$vo.max_room}房户型
        ，总价{$vo.min_price}-{$vo.max_price}万/套。具体详情请致电咨询。
        {/eju:minmax}
    </p>
</div>
<div class="nh_main" id="hx">
    <!-- 右侧 -->
    <div class="nh_l" >
        <div class="lcon_hx">
            <h2 class="nh_head">户型图</h2>
            <ul class="tabs">
                <li> <a href="javascript:;" name=".tab_0">全部(<span>{$eju.field.huxing_list|count}</span>)</a> </li>
                {eju:fanglist type="huxing" id="field" group="huxing_room"}
                <li>
                    <a href="javascript:;" name=".tab_{$field.huxing_room}">{$field.huxing_room}居室(<span>{$field.count}</span>)</a>
                </li>
                {/eju:fanglist}
                <div class="clear"></div>
            </ul>
            <div class="content">
                <ul class="nh_hxcon tab_0" id="hx_0">
                {eju:fanglist name="$eju.field.huxing_list" id="field"}
                    <li>
                        <div class="hx-list-img left">
                            <a href="javascript:;">
                                <img layer-pname="{$field.huxing_title}" layer-js="{$field.huxing_room}室{$field.huxing_living_room}厅{$field.huxing_toilet}卫{$field.huxing_kitchen}厨" layer-jm="{$field.huxing_area}㎡"  layer-jg="{$field.huxing_price}万元" layer-jj="{$field.huxing_average_price}元/平米"  layer-ts="{$field.huxing_characteristic}" src="{$field.huxing_pic}" width="180" height="138" />
                            </a>
                        </div>
                        <div class="hx-list-wrap left">
                            <div class="hx-list-head">
                                <h2>{$field.huxing_room}室{$field.huxing_living_room}厅{$field.huxing_toilet}卫{$field.huxing_kitchen}厨 {$field.huxing_area}㎡</h2>
                            </div>
                            <p>建筑面积：<span>{$field.huxing_area}平米</span></p>
                            <a class="selec-hx" href="javascript:;"><span>查看户型原图</span></a> </div>
                        <div class="hx-list-jg right">
                            <p><span>{$field.huxing_price}</span>万元</p>
                        </div>
                        <div class="clear"></div>
                    </li>
                {/eju:fanglist}
                </ul>

                {eju:fanglist type="huxing" id="field" group="huxing_room"}
                <ul class="nh_hxcon tab_{$field.huxing_room}" id="hx_{$field.huxing_room}">
                    {eju:fanglist name="$field.children" id="field2"}
                    <li>
                        <div class="hx-list-img left">
                            <a href="javascript:;">
                                <img layer-pname="{$field2.huxing_title}" layer-js="{$field2.huxing_room}室{$field2.huxing_living_room}厅{$field2.huxing_toilet}卫{$field2.huxing_kitchen}厨" layer-jm="{$field2.huxing_area}㎡"  layer-jg="{$field2.huxing_price}万元" layer-jj="{$field2.huxing_average_price}元/平米"  layer-ts="{$field2.huxing_characteristic}" src="{$field2.huxing_pic}" width="180" height="138" />
                            </a>
                        </div>
                        <div class="hx-list-wrap left">
                            <div class="hx-list-head">
                                <h2>{$field2.huxing_room}室{$field2.huxing_living_room}厅{$field2.huxing_toilet}卫{$field2.huxing_kitchen}厨 {$field2.huxing_area}㎡</h2>
                            </div>
                            <p>建筑面积：<span>{$field2.huxing_area}平米</span></p>
                            <a class="selec-hx" href="javascript:;"><span>查看户型原图</span></a> </div>
                        <div class="hx-list-jg right">
                            <p><span>{$field2.huxing_price}</span>万元</p>
                        </div>
                        <div class="clear"></div>
                    </li>
                    {/eju:fanglist}
                </ul>
                {/eju:fanglist}
            </div>
        </div>
    </div>
    <!-- 左侧 -->
    <div class="nh_r">
        <div class="jjr-box">
            <div class="lpagent">
                <div class="lpagent_bmtel">
                    <div class="lpagent_tel clearfloat">
                        <span class="tel_num left">
                        <i>售楼热线</i>
                        <b>
                            {$eju.field.sale_phone}
                            {eju:notempty name="$eju.field.phone_code"} 转 {$eju.field.phone_code}{/eju:notempty}
                        </b>
                        </span>
                        <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin={$eju.field.saleman.saleman_qq}&site=qq&menu=yes" data-uri="http://wpa.qq.com/msgrd?v=3&uin={$eju.field.saleman.saleman_qq}&site=qq&menu=yes" class="lpagent_tel_btn right">
                            在线咨询
                        </a>
                    </div>
                    <div class="lpagent_bm clearfloat">
                        {eju:form formid="1"}
                        <form method="post" id="{$field.form_name}" action="{$field.action}" onsubmit="{$field.submit}">
                            <div class="bm_wrap left">
                                <input type="text" id="{$field.attr_1}" name="{$field.attr_1}" placeholder="{$field.itemname_1}" class="input-text">
                                <p class="bm_text">报名看房享受优惠，免费接机，住宿安排</p>
                            </div>
                            <input type="submit" class="bt_yhbm right" value="报名看房" id="yuyue_btn_sub" style="font-size: 14px;">
                            <div class="clear"></div>
                            {$field.hidden}
                        </form>
                        {/eju:form}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
<!-- 楼盘动态 -->
<div class="nh_dt"  id="lpdt">
     <h2 class="nh_head">楼盘动态</h2>
    <div class="nh_tree">
        <ul>
            {eju:arclist typeid="4" joinaid="$eju.field.aid" orderby='new' limit="0,4" id="field"}
            <li class="nh_tree_list clearfix">
                <p class="nh_data"> <span>{$field.add_time|MyDate='m月d日',###}</span><em>{$field.add_time|MyDate='Y年',###}</em> </p>
                <div class="nh_list_con">
                    <p class="node-circle"> <i class="iconfont af-icon-time"></i> </p>
                    <div class="nh-tree-con"> <i class="icons_saledetails arrow"></i>
                        <!-- text -->
                        <div class="nh-tree-text">
                            <a target="_blank" href="{$field.arcurl}">
                                {$field.seo_description|html_msubstr=###,0,135}...
                            </a>
                            <a  target="_blank" href="{$field.arcurl}">【阅读全文】</a>
                        </div>
                        <!-- end text -->
                    </div>
                </div>
                <div class="clear"></div>
            </li>
            {/eju:arclist}
        </ul>
    </div>
</div>
<!---楼盘详情 -->
<div class="nh_info_main" id="lpxq">
    <div class="info_main_lpinfo">
        <h2 class="nh_info_head">楼盘详情</h2>
        <ul>
            <li><span>楼盘名称：</span>{$eju.field.title}</li>
            <li><span>所属区域：</span>{$eju.field.province_id|get_province_name} - {$eju.field.city_id|get_city_name}</li>
            <li><span>占地面积：</span>{$eju.field.floor_area}{$eju.field.floor_area_unit}</li>
            <li><span>建筑面积：</span>{$eju.field.building_area}{$eju.field.building_area_unit}</li>
            <li><span>装修状况：</span>{$eju.field.fitment|implode=",",###}</li>
            <li><span>建筑类别：</span>{$eju.field.building_type|implode=",",###}</li>
            <li><span>产权年限：</span>{$eju.field.property}{$eju.field.property_unit}</li>
            <li><span>开 发 商：</span>{$eju.field.developer}</li>
            <li><span>销售状态：</span>{$eju.field.sale_status}</li>
            <li><span>楼盘均价：</span>{$eju.field.average_price}{$eju.field.price_units}</li>
            <li><span>开盘日期：</span>{$eju.field.opening_time|myDate="Y年m月d日",###}</li>
            <li><span>开盘备注：</span>{$eju.field.opening_time_memo}</li>
            <li><span>交房时间：</span>{$eju.field.complate_time|myDate="Y年m月d日",###}</li>
            <li><span>售楼地址：</span>{$eju.field.sales_address}</li>

            <li> <span>主力户型：</span>
                <a href="#hx">{$eju.field.main_unit}</a>
            </li>
            <li><span>预售许可证：</span>{$eju.field.licence}</li>
            <div class="clear"></div>
        </ul>
    </div>
    <div class="info_main_lpinfo">
        <h2 class="nh_info_head">小区规划</h2>
        <ul>
            <li><span>规划户数：</span>{$eju.field.households}{$eju.field.households_unit}</li>
            <li><span>停 车 位：</span>{$eju.field.carport}{$eju.field.carport_unit}</li>
            <li><span>物业类型：</span>{$eju.field.manage_type|implode=",",###}</li>
            <li><span>容 积 率：</span>{$eju.field.plot_ratio}{$eju.field.plot_ratio_unit}</li>
            <li><span>绿 化 率：</span>{$eju.field.greening_rate}{$eju.field.greening_rate_unit}</li>
            <li><span>物 业 费：</span>{$eju.field.property_fee}{$eju.field.property_fee_unit}</li>
            <li><span>物业公司：</span>{$eju.field.manage_company}</li>
            <li><span>楼层状况：</span>{$eju.field.floor_case}{$eju.field.floor_case_unit}</li>
            <div class="clear"></div>
        </ul>
    </div>
    <div class="info_main_jtinfo">
        <h2 class="nh_info_head">项目简介</h2>
        <p>{$eju.field.content}</p>
    </div>
</div>

<!-- 楼盘相册 -->
<div class="nh_pic" id="pic">
    <h2 class="nh_head">楼盘相册</h2>
    <ul class="tabs">
        <li> <a href="javascript::void(0);" name=".total">全部(<span>{$eju.field.photo_list|count}</span>)</a> </li>
        {eju:fanglist type="photo" id="field" group="photo_type"}
        <li> <a href="javascript:;" name=".cate_{$field.photo_type}">{$field.photo_type}(<span>{$field.count}</span>)</a> </li>
        {/eju:fanglist}
        <div class="clear"></div>
    </ul>
    <div class="content" style="height: 600px">
        <ul class="total" id="imgs">
            {eju:fanglist name="$eju.field.photo_list" id="field"}
            <li>
                <img layer-pname="{$field.photo_title}" src="{$field.photo_pic}" width="394" height="295" />
                <span class="nh_pic_text">{$field.photo_type}</span>
            </li>
            {/eju:fanglist}
        </ul>

        {eju:fanglist type="photo" id="field" group="photo_type"}
        <ul class="cate_{$field.photo_type}" id="imgs_{$field.photo_type}">
            {eju:fanglist name="$field.children" id="field2"}
            <li>
                <img layer-pname="{$field2.photo_title}" src="{$field2.photo_pic}" width="394" height="295" />
                <span class="nh_pic_text">{$field2.photo_type}</span>
            </li>
            {/eju:fanglist}
        </ul>
        {/eju:fanglist}
        </ul>
    </div>
    <div class="xc_bt">显示更多图片</div>
</div>
<!-- 楼盘问答 -->
{eju:ask id="field" bestanswer="off"}
{$field.hidden}
<div class="nh_zbpt lpwd" id="lpwd">
    <div class="head">
        <h2 class="nh_head">楼盘问答</h2>
        <a target="_blank" href="{$field.AddAskUrl}">
            我要提问
        </a>
    </div>
    <div class="con_box">
        <ul class="list">
            {eju:volist name="$field.AskData" id="vo"}
            <li>
                <div class="asking">
                    <div class="aico">问</div>
                    <div class="acon">
                        <a class="asking-tit" target="_blank" href="{$vo.AskUrl}">{$vo.ask_title}</a>
                        <p>{$vo.content}</p>
                    </div>
                </div>
                {eju:volist name="$vo.AnswerData" id="vo2"}
                <div class="answer">
                    <div class="aico">答</div>
                    <div class="acon">
                        <p>{$vo2.content}</p>
                    </div>
                </div>
                {/eju:volist}
            </li>
            {/eju:volist}
        </ul>
    </div>
</div>
{/eju:ask}


<!-- 周边配套 -->
<div class="nh_zbpt" id="zbpt">
    <h2 class="nh_head">周边配套</h2>
    <div style="width: 1160px;margin: 0 auto">
        <div class="lp-map-s11 fl mt10" id="map_canvas" style="width: 830px;"></div>
        {eju:surroundings field="$eju['field']" canvas="map_canvas" tag="lp-map-s" select="lp-map-a" total="map_total" tab="lp-map-tab" result="map_result"}
        <div class="lp-map-s12 fl mt10">
            <div class="clearfix map-tag">
                {eju:volist name="$field.list" id="vo"}
                <a href="javascript:;" class="lp-map-{$i} lp-map-s fl icons" onclick="select_around({$key});">{$vo}</a>
                {/eju:volist}
            </div>
            <p class="lpm-map-recond mt20"> 搜索到<span id="map_total"></span>条记录 </p>
            <div class="lp-map-tab" id="lp-map-tab">
                <ul class="lp-map-s19" id="map_result">
                </ul>
            </div>
        </div>
        {$field.hidden}
        {/eju:surroundings}
        <div class="clear">
        </div>
        <div class="h20">
        </div>
    </div>
</div>
<!--推荐楼盘-->
<div class="nh_tj" id="tj">
    <h2 class="nh_head">推荐楼盘</h2>
    <ul>
        {eju:arclist channelid='9' flag='h' orderby='new' row='4' id="field"}
        <li>
            <a href="{$field.arcurl}">
                <img src="{$field.litpic}" width="286" height="230" />
            </a>
            <p> <a href="{$field.arcurl}"> [{$field.city_id|get_city_name}]
                {$field.title}</a><span class="right"><em>{$field.average_price}</em>{$field.price_units}</span> </p>
        </li>
        {/eju:arclist}
        <div class="clear"></div>
    </ul>
</div>
<script>
    function resetTabs(obj) {
        $(obj).parent().parent().next("div").find("ul").hide();
        $(obj).parent().parent().find("a").removeClass("current");
    }
    function xc_bt_show(){
        var SpanTag = $(".current span")[1].innerHTML;
        if( SpanTag < 7){
            $(".xc_bt").hide();
        }else{
            $(".nh_pic .content").css("height","600px");
            $(".xc_bt").text("显示更多户型");
            $(".xc_bt").show();
        }
    }
    function loadTab() {
        $(".content > ul").hide();
        $(".tabs").each(function() {
            $(this).find("li:first a").addClass("current");
        });
        $(".content").each(function() {
            $(this).find("ul:first").fadeIn();
        });
        $(".tabs a").on("click", function(e) {
            e.preventDefault();
            if ($(this).attr("class") == "current") {
                return;
            }else {
                resetTabs(this);
                $(this).addClass("current");
                console.log($(this).attr("name"));
                $($(this).attr("name")).fadeIn();
            }
        });
        xc_bt_show();
    }
    $(document).ready(function() {
        loadTab();
        $(".tabs a").click(function(){
            xc_bt_show();
        });
        $(".nh_hxcon li").eq(2).nextAll(".nh_hxcon li").hide();

        $(".hx_bt").click(function(){
            $(".nh_hxcon li").eq(2).nextAll(".nh_hxcon li").slideToggle(function(){
                if ($(".nh_hxcon li").eq(3).css("display")=='none') {
                    $(".hx_bt").text("显示更多户型");
                }else{
                    $(".hx_bt").text("收起更多户型");
                }
            });
        });

        $(".xc_bt").click(function(){
            if ($(".nh_pic .content").height() == 600) {
                $(".nh_pic .content").css("height","auto");
                $(".xc_bt").text("收起更多图片");
            }else{
                $(".nh_pic .content").css("height","600px");
                $(".xc_bt").text("显示更多图片");
            }
        });
        var navHeight = $("#navHeight").offset().top;
        var navFix = $("#nav_wrap");
        $(window).scroll(function() {
            if ($(this).scrollTop() > navHeight) {
                navFix.addClass("navFix");
            } else {
                navFix.removeClass("navFix");
            }
        });
    });
    //内容信息导航锚点
    $('.nav_wrap').navScroll({
        mobileDropdown : true,
        mobileBreakpoint : 828,
        scrollSpy : true
    });
</script>
<!--底部-->
{eju:include file="footer.htm"/}
<!--底部--end-->
{eju:static file="skin/js/jqmodal.js" /}
{eju:static file="skin/js/laytpl.js" /}

<script type="text/html" id="template_room_detail">
    <dl class="mttitle">
        <dt>{{d.title}}</dt>
        <dd><a onclick="closeDetail();"></a></dd>
    </dl>
    <div class="mtalone">
        <ul>
            <li class="mtaico kpsj"></li>
            <li>开盘时间：<span id="open_time">2017年12月01日</span></li>
        </ul>
        <ul>
            <li class="mtaico jfsj"></li>
            <li style="width:150px;">入住时间：<span id="check_in_time">2018年12月31日</span></li>
        </ul>
    </div>
    <div class="mtalone">
        <ul>
            <li class="mtaico dy"></li>
            <li><span class="mtmr24">单</span>元：<span id="unit">{{d.danyuan}}</span></li>
        </ul>
        <ul>
            <li class="mtaico cs"></li>
            <li><span class="mtmr24">层</span>数：<span id="floor">{{d.floor_num}}</span>层</li>
        </ul>
    </div>
    <div class="mtalone">
        <ul>
            <li class="mtaico hs"></li>
            <li><span class="mtmr24">户</span>数：共<span id="households">{{d.room_num}}</span>户</li>
        </ul>
        <ul>
            <li class="mtaico thpb"></li>
            <li>梯户配比：<span id="stairs">{{d.floor_rate}}</span></li>
        </ul>
    </div>
    <dl class="mthx">
        <dt>
        <div class="wtafl mtaico hx"></div>
        <div class="wtafl"><span class="mtmr24">户</span>型：</div>
        </dt>
        <dd>
            <ul id="house_type_show">
                {{# for(var i = 0, len = d.list.length; i < len; i++){ }}
                <li>
                    <a target="_blank" href="#hx">
                        <span title="{{ d.list[i].title }}" style="width:120px;">{{ d.list[i].title }}</span>
                        <span style="width:150px;">{{ d.list[i].room }}室{{ d.list[i].ting }}厅{{ d.list[i].wei }}卫{{ d.list[i].yang }}阳台{{ d.list[i].chu }}厨</span>
                        <span style="width:75px;">{{ d.list[i].jianzhu_area }}㎡</span>
                    </a>
                </li>
                {{# } }}

            </ul>
        </dd>
    </dl>
</script>
<input type="hidden" id="saleman_qq" value="{$eju.field.saleman.saleman_qq}">
<input type="hidden" id="saleman_pic" value="{$eju.field.saleman.saleman_pic}">
<input type="hidden" id="saleman_name" value="{$eju.field.saleman.saleman_name}">
<input type="hidden" id="saleman_mobile" value="{$eju.field.saleman.saleman_mobile}">
<script>
    ;!function(){
        layer.use('extend/layer.ext.js', function(){
            //初始加载即调用，所以需放在ext回调里
            var _url = "";
            var saleman_qq = $("#saleman_qq").val();
            var saleman_pic = $("#saleman_pic").val();
            var saleman_name = $("#saleman_name").val();
            var saleman_mobile = $("#saleman_mobile").val();
            var chatUrl = 'http://wpa.qq.com/msgrd?v=3&uin='+saleman_qq+'&site=qq&menu=yes';
            var sale_phone = "{$eju.field.sale_phone}";
            var phone_code = "{$eju.field.phone_code}";
            if (phone_code){
                sale_phone = sale_phone+'转'+phone_code;
            }
            if (saleman_mobile == ''){
                saleman_mobile = sale_phone;
            }
            var srcUrl = saleman_pic;
            var piccon = '<div class="lpagent2">' +
                '<span class="lpagent_tel2">' +
                '<i class="iconfont af-icon-dianhuatianchong"></i>' +
                '<b>'+saleman_mobile+'</b></span>' +
                '<div class="lpagent_serv2">' +
                '<p class="lpagent_serv_img2 left">' +
                '<img src="'+srcUrl+'" width="80" height="84" /></p>' +
            '<div class="lpagent_serv_bt2 left"><p>置业经纪人：'+saleman_name+'</p>' +
            '<a target="_blank" href="'+chatUrl+'" style="cursor:pointer;"><span>在线咨询</span></a>' +
            '</div>' +
            '<div class="clear"></div></div></div>';

            $(".nh_pic .content ul li").click(function(){
                $(".hxbox_head,.hxbox_jg,.hxtest").remove();
                $(".xubox_layer").css({"top":"50%","margin-top":"-300px"})
            });
            $(".hx-list-img a").click(function(){
                $(".xubox_layer").css({"top":"50%","margin-top":"-300px"})
            });

            $(".selec-hx").click(function(){
                $(this).parents("li").find(".hx-list-img a img").click();
            });
            layer.ext = function(){
                layer.photosPage({
                    html:piccon,
                    title:'全部',
                    id: 100, //相册id，可选
                    parent:'#hx_0',
                    area:['1040px', '600px']
                });
                layer.photosPage({
                    html:piccon,
                    title:'1居室',
                    id: 100, //相册id，可选
                    parent:'#hx_1',
                    area:['1040px', '600px']
                });layer.photosPage({
                    html:piccon,
                    title:'2居室',
                    id: 100, //相册id，可选
                    parent:'#hx_2',
                    area:['1040px', '600px']
                });
                layer.photosPage({
                    html:piccon,
                    title:'3居室',
                    id: 100, //相册id，可选
                    parent:'#hx_3',
                    area:['1040px', '600px']
                });
                layer.photosPage({
                    html:piccon,
                    title:'4居室',
                    id: 100, //相册id，可选
                    parent:'#hx_4',
                    area:['1040px', '600px']
                });
                layer.photosPage({
                    html:piccon,
                    title:'5居室',
                    id: 100, //相册id，可选
                    parent:'#hx_5',
                    area:['1040px', '600px']
                });
                layer.photosPage({
                    html:piccon,
                    title:'全部图片',
                    id: 100, //相册id，可选
                    parent:'#imgs',
                    area:['1040px', '600px']
                });
                layer.photosPage({
                    html:piccon,
                    title:'样板间',
                    id: 100, //相册id，可选
                    parent:'#imgs_样板间',
                    area:['1040px', '600px']
                });
                layer.photosPage({
                    html:piccon,
                    title:'配套图',
                    id: 100, //相册id，可选
                    parent:'#imgs_配套图',
                    area:['1040px', '600px']
                });
                layer.photosPage({
                    html:piccon,
                    title:'实景图',
                    id: 100, //相册id，可选
                    parent:'#imgs_实景图',
                    area:['1040px', '600px']
                });
                layer.photosPage({
                    html:piccon,
                    title:'交通图',
                    id: 100, //相册id，可选
                    parent:'#imgs_交通图',
                    area:['1040px', '600px']
                });
                layer.photosPage({
                    html:piccon,
                    title:'效果图',
                    id: 100, //相册id，可选
                    parent:'#imgs_效果图',
                    area:['1040px', '600px']
                });

            };
        });
    }();
</script>

<script>
    $(function() {
        $('#shapan-i').jqDrag({
            attachment : '#shapan'
        });
        $('#room_title li').bind('click', function() {
            var index = $(this).index();
            $(this).addClass('selected').siblings().removeClass('selected');
            $('#room_list').children().eq(index).show().siblings().hide();
        });
        $('#shapan-i a').bind('click', function() {
            var id = $(this).data('bid'), url = "";
            $.get(url, {id : id}, function(result) {
                if (result.status == 1) {
                    if (result.data) {
                        $('#room_detail').show();
                        var gettpl = document.getElementById('template_room_detail').innerHTML;
                        laytpl(gettpl).render(result.data, function(html) {
                            document.getElementById('room_detail').innerHTML = html;
                        });
                    } else {
                        layer.msg('未找到相关数据');
                    }
                } else {
                    layer.msg('数据获取失败');
                }
            });
        });
    });
    function closeDetail() {
        $('#room_detail').hide();
    }

</script>

</body>
</html>
