<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="__PUBLIC__/plugins/layui/css/layui.css?v={$version}" media="all">
  <link rel="stylesheet" href="__SKIN__/css/admin.css?v={$version}" media="all">
  <link rel="stylesheet" href="__SKIN__/css/ey_layui.css?v={$version}" media="all">
  <link rel="stylesheet" href="__SKIN__/font/ali-font/iconfont.css?v={$version}" media="all">
  <script type="text/javascript">
    var eyou_basefile = window.location.pathname;
    var module_name = "{$Think.const.MODULE_NAME}";
    var __root_dir__ = "__ROOT_DIR__";
  </script>  
  <script type="text/javascript" src="__SKIN__/js/jquery.js?v={$version}"></script>
  <script type="text/javascript" src="__SKIN__/js/jquery-ui/jquery-ui.min.js?v={$version}"></script>
  <script type="text/javascript" src="__PUBLIC__/plugins/layer-v3.1.0/layer.js?v={$version}"></script>
  <script type="text/javascript" src="__SKIN__/js/jquery.cookie.js?v={$version}"></script>
  <script type="text/javascript" src="__PUBLIC__/plugins/laydate/laydate.js?v={$version}"></script>
  <script src="__PUBLIC__/plugins/layui/layui.js?v={$version}"></script>
  <script src="__SKIN__/js/global.js?v={$version}"></script>
</head>