
      <div class="layui-side layui-side-menu">
        <div class="layui-side-scroll">
          <div class="layui-logo" href="{$Request.baseFile}">
             <span>
              <a href="{$Request.baseFile}"><img style="margin-top: 20px" width="120" src="{$web_adminlogo|default='__SKIN__/images/logo.png'}?v={php}echo time();{/php}"></a>
             </span>
          </div>
         <!-- <div class="tit-nav">
             <a href="{$Request.baseFile}">后台</a>
             <span class="mx-1">|</span>
             <a href="{$home_url}" target="_blank">首页</a>
             <span class="mx-1">|</span>
             <a href="" target="_blank">功能项</a>
          </div>-->
		  <div style="margin-top: 70px"></div>
          <ul class="layui-nav layui-nav-tree layui-nav-left" lay-shrink="all" id="LAY-system-side-menu" lay-filter="layadmin-system-side-menu">

            <li data-name="get" class="layui-nav-item layui-this">
              <a href="{$Request.baseFile}" lay-tips="系统首页" lay-direction="2">
                <i class="layui-icon layui-icon-home"></i>
                <cite>系统首页</cite>
              </a>
            </li>

            {volist name="menu" id="vo"}
            {notempty name="$vo.is_menu"}
            <li data-name="{$vo.controller}_{$vo.action}" class="layui-nav-item {eq name='$i' value='1'}layui-nav-itemed{/eq} {if condition='$vo.is_menu == 0'}none{/if}">
              <a {if condition='!empty($vo.url)'}{eq name='$vo.target' value='_self'}lay-{/eq}href="{$vo.url}"{elseif condition='!empty($vo.action)'/}lay-href="{:url($vo['controller'].'/'.$vo['action'])}"{/if} lay-tips="{$vo.name}" target="{$vo['target']}" lay-direction="2">
                <i class="layui-icon {$vo.icon}"></i>
                <cite>{$vo.name}</cite>
                {if condition="$vo.controller == 'Form' AND $vo.action == 'index'"}<span class="layui-badge-dot form_index_read"></span>{/if}
              </a>
              {notempty name='$vo.child'}
              <dl class="layui-nav-child">
                {volist name="$vo.child" id="v2"}
                {notempty name="$v2.is_menu"}
                <dd data-name="{$v2.controller}_{$v2.action}" class="{if condition='$v2.is_menu == 0'}none{/if}">
                  <a {if condition='!empty($v2.url)'}{eq name='$v2.target' value='_self'}lay-{/eq}href="{$v2.url}"{elseif condition='!empty($v2.action)'/}lay-href="{:url($v2['controller'].'/'.$v2['action'])}"{/if} target="{$v2['target']}">{$v2.name}</a>
                </dd>
                {/notempty}
                {/volist}
              </dl>
              {/notempty}
            </li>
            {/notempty}
            {/volist}
          </ul>
        </div>
      </div>