{include file="public/layout" /}
<body>
  <div class="layui-fluid" id="LAY-component-layer-list">
    <div class="layui-row">
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="web-system">
            <div class="layui-tab layui-tab-card">
              {include file="recycle_bin/btn" /}
              <div class="layui-tab-content" style="padding:10px 0">
                <div class="layui-tab-item layui-show">
                  <div class="layui-row layui-col-space15">
                    <div class="layui-col-md12">
                      <div class="layui-card">
                        <div class="head-oper">
                            <div class="fr">
                                <form action="{:url('RecycleBin/arctype_index')}" method="get" onsubmit="layer_loading();">
                                    <div class="fl mt5" >
                                        <div class="layui-input-inline w240">
                                            {$searchform.hidden|default=''}
                                            <input type="text" name="keywords" id="keywords" value="{$Request.param.keywords}" placeholder="名称搜索" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-input-inline w50 mt5">
                                        <button class="layui-btn input-btn-search" type="submit"><i class="layui-icon layui-icon-search"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="layui-card-body" pad15>
                          <div class="layui-form layui-border-box layui-table-view house-table" lay-filter="formTest" lay-id="admin-arctype" >
                            <div class="layui-table-box">
                              <div class="layui-table-body " >
                                <table cellspacing="0" cellpadding="0" border="0" class="layui-table layui-form" style="width: 100%" lay-skin="line">
                                  <thead >
                                    <tr>
                                      <th class="w100 tc"> 
                                        <div class="layui-table-cell w100 tc" ><span>ID</span></div>
                                      </th>
                                      <th> 
                                        <div class="layui-table-cell wauto"><span>栏目名称</span></div>
                                      </th>
                                      <th class="w180 tc"> 
                                        <div class="layui-table-cell w180 tc"><span>所属模型</span></div>
                                      </th>
                                      <th class="w110 tc"> 
                                        <div class="layui-table-cell w110 tc"><span>删除时间</span></div>
                                      </th>
                                      <th class="w180 tc"> 
                                        <div class="layui-table-cell w180 tc"><span>操作</span></div>
                                      </th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                  {empty name="list"}
                                    <tr>
                                      <td colspan="5" class="no-data tc">
                                         没有符合条件的数据
                                      </td>
                                    </tr>
                                  {else/}
                                    {foreach name="list" item="vo" key="k" }
                                     <tr>
                                        <td>
                                            <div class="layui-table-cell w100 tc"> 
                                                {$vo.id} 
                                            </div>
                                        </td>
                                        <td>
                                            <div class="layui-table-cell wauto">
                                                {$vo.typename}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="layui-table-cell w180 tc">
                                                {$channeltype_list[$vo['current_channel']]['title']|default=''}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="layui-table-cell w110 tc">
                                                {$vo.update_time|date='Y-m-d',###}
                                            </div>
                                        </td>
                                        <td>
                                           <div class="layui-table-cell w180 tc"> 
                                            {eq name="'RecycleBin@arctype_recovery'|is_check_access" value="1"}
                                                <a class="layui-btn layui-btn-xs" href="javascript:void(0);" data-url="{:url('RecycleBin/arctype_recovery')}" data-id="{$vo.id}" data-typename="{$vo.typename}" data-type="arctype_recovery"><i class="layui-icon layui-icon-release"></i>还原</a>
                                            {/eq}
                                            {eq name="'RecycleBin@arctype_del'|is_check_access" value="1"}
                                                <a class="layui-btn layui-btn-danger layui-btn-xs" href="javascript:void(0);" data-url="{:url('RecycleBin/arctype_del')}" data-id="{$vo.id}" data-typename="{$vo.typename}" data-type="arctype_del"><i class="layui-icon layui-icon-delete"></i>彻底删除</a>
                                            {/eq}
                                           </div>
                                        </td>
                                      </tr>
                                    {/foreach}
                                  {/empty}
                                  </tbody>
                                </table>
                              </div>
                            </div>
                            <!--分页-->
                            {$pageStr}
                           </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
  layui.config({
    base: '__SKIN__/' //静态资源所在路径
    ,version: '{$version}'
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'form'], function(){
    var $ = layui.$
    ,form = layui.form;

    /* 触发事件 */
    var active = {
        arctype_recovery: function(){
            var obj = this;
            layer.confirm('<font color="red">如有父级栏目及文档将一起还原</font>，确认还原？', {
                title: false,
                btn: ['确定','取消'] //按钮
            }, function(index){
                layer.close(index);
                var load = layer_loading();
                // 确定
                $.ajax({
                    type : 'post',
                    url : $(obj).attr('data-url'),
                    data : {del_id:$(obj).attr('data-id'),_ajax:1},
                    dataType : 'json',
                    success : function(res){
                        layer.close(load);
                        if(res.code == 1){
                            layer.msg(res.msg, {icon: 1, time: 1000}, function(){
                                window.location.reload();
                            });
                        }else{
                            showErrorMsg(res.msg);
                        }
                    }
                    ,error: function(e){
                        layer.close(load);
                        showErrorAlert();
                    }
                })
            }, function(index){
                layer.close(index);
            });
            return false;
        }
        ,arctype_del: function(){
            var obj = this;
            layer.confirm('<font color="red">如有子栏目及文档将一起清空</font>，确认彻底删除？', {
                title: false,
                btn: ['确定','取消'] //按钮
            }, function(index){
                layer.close(index);
                var load = layer_loading();
                // 确定
                $.ajax({
                    type : 'post',
                    url : $(obj).attr('data-url'),
                    data : {del_id:$(obj).attr('data-id'),_ajax:1},
                    dataType : 'json',
                    success : function(res){
                        layer.close(load);
                        if(res.code == 1){
                            layer.msg(res.msg, {icon: 1, time: 1000}, function(){
                                window.location.reload();
                            });
                        }else{
                            showErrorMsg(res.msg);
                        }
                    }
                    ,error: function(e){
                        layer.close(load);
                        showErrorAlert();
                    }
                })
            }, function(index){
                layer.close(index);
            });
            return false;
        }
    };

    $('.layui-btn').on('click', function(){
      var type = $(this).data('type');
      active[type] && active[type].call(this);
    });

  });

  </script>
{include file="public/footer" /}