body{background: #fff;}
.st_city h3{
    font-size: 36px;
    text-align: center;
    margin-bottom: 50px;
}
h4{
	color: #444;
}
.index-tit{
	width: 100%;
	height: 100px;
	position: relative;
}
.index-tit h2{
	line-height: 100px;
	float: left;
	font-size:36px;
	font-weight:500;
	margin-right: 14px;
}
.index-tit p{
	float: left;
	font-size: 18px;
	color: #999;
	margin-top: 46px;
}
.index-tit .more{
	float: right;
	color: #999;
	margin-top: 50px;
}

.nav_login {
	margin-top: 20px;
    height: 40px;
    background: none;
    /*width:300px;*/
}
.af_head .st_city_list li.item a.item_a {color: #333;}
.af_head span.fenge {color: #fff;}
.af_head a.tel {color: #fff;}
.af_head {
    height: 75px;
     background: none;
     position: absolute; 
    z-index: 10;
    width: 100%;
    top: 40px;
	border-bottom: 0px solid #eee;
}
/*.af_head a.logo{background: url("../images/logo1.png") center 10px no-repeat;}*/
.af_head_sw{
     position: fixed;
    top: 0;
    color: #fff;
	background:rgba(0,174,243,.9)
}
.af_head a.index-address{
	padding: 2px 10px;
	display: block;
	border: 1px solid #ddd;
	color: #fff;
	margin-top: 26px;
	margin-right: 20px;
	position: relative;
	border-radius: 50px;
}
.af_head .st_city_list li.item a.item_a {
    color: #fff;
}
.af_head .login_wrap {
    line-height: 40px;
    color: #fff;
}
.af_head .login_wrap a{
    line-height: 40px;
    color: #fff;
}
.af_head_sw .st_city_list li.item a.item_a {
    color: #fff;
}
.af_head_sw .st_city_list li.item a.on {
    color: #0197d9;
}
.af_head_sw a.index-address{
	color: #fff;
	border: 1px solid #ddd;
}
.af_head_sw a.index-address{
	border: 1px solid #fff;
	color: #fff;
}
.af_head_sw .login_wrap a{
    line-height: 40px;
    color: #999;
}


/* banner */
.banner{
	margin: 0 auto;
	position: relative;
	height: auto;
}
.swiper-container{
    height: 600px;
}
.af-banner-wrap {
    width: 1200px;
padding: 10px 0px;
position: absolute;
z-index: 10;
left: 50%;
top: 44%;
margin-left: -600px;
}
.af-top-cont-text1 {
font-size: 64px;
font-weight: bold;
}
.af-top-cont {
color: #fff;
margin-top: 132px;
margin-bottom: 102px;
text-align: center;
line-height: 68px;
}
.af-banner-wrap .af-search {
width: 900px;
height: 54px;
position: relative;
/* background: #fff; */
border-radius: 4px;
margin-bottom: 8px;
margin: 0 auto;
}
.af-banner-wrap .af-search input#search_key {
width: 544px;
height: 50px;
float: left;
border: none;
padding: 0 15px;
line-height: 50px;
color: #a1a0a0;
border-radius: 4px 0 0 4px;
}
.af-banner-wrap .af-search #search_but {
width: 120px;
line-height: 50px;
text-align: center;
padding-left:20px;
font-size: 16px;
background:url(../images/ico-search.png) 14px center no-repeat #ff7800;
float: left;
border-radius: 0 4px 4px 0;
color: #fff;
cursor: pointer;
border: none;
}
.af-banner-wrap .af-search a#search_but2 { 
width: 100px;
line-height: 50px;
text-align: center;
padding-left:26px;
font-size: 16px;
background:url(../images/ico-add.png) 16px center no-repeat #ff7800;
float: left;
border-radius: 4px;
color: #fff;
margin-left: 8px;
}
.swiper-slide{background:#000}
/*条件筛选*/
.filter-box{
	position: absolute;
	z-index:2;
	width: 1200px;
	min-height: 180px;
	bottom:50%;
	left: 50%;
	margin-bottom: -440px;
	margin-left:-600px;
	background-color: #fff;
	box-shadow: 0 2px 8px #e7e7e7;
}
.filter-box .in-box{
	margin: 30px 0 30px 36px;
	min-height: 110px;
}

.filter-box .x1{
	width: 290px;
}
.filter-box .x2{
	width: 220px;
}
.filter-box .x3{
	width: 220px;
}
.filter-box .x4{
	width: 235px;
}
.filter-box .x5{
	width: 300px;
}
.filter-box .in-box h2{
	font-weight: normal;
	font-size: 16px;
	line-height: 30px;
}
.filter-box .in-box ul{
	margin: 6px auto 0;
}
.filter-box .in-box li{
	float: left;
	margin-right: 20px;
}
.filter-box .in-box li a{
	display: block;
	color: #666;
	line-height: 28px;
}
.filter-box .in-box li a:hover{
	color: #01bdf3;
}


/*精选房源*/
.fang-jx{
	width: 1200px;
    margin: 150px auto 30px;
	position: relative;
}
.fang-jx .scrollable{
	position: relative;
	width: 1220px;
	margin-top: 20px;
	height:272px;
	overflow: hidden;
}
.fang-jx .scrollable li{
	float: left;
}
.fang-jx a.prev,.fang-jx a.next{
	position: absolute;
	top: 240px;
	z-index: 10;
	width: 40px;
	height: 40px;
	display: block;
	background: url(../images/scrollable-bt.png) no-repeat;
}
.fang-jx  a.prev{
	left: 0;
	margin-left: -20px;
	background-position:0 -40px;
}
.fang-jx  a:hover.prev{
	background-position:0 0;
}
.fang-jx  a.next{
	right: 0;
	margin-right: -20px;
	background-position:-40px -40px;
}
.fang-jx  a:hover.next{
	background-position:-40px 0;
}
.fang-jx .scrollable a{
	float: left;
	display: block;
	position: relative;
	width: 285px;
	height: 272px;
	border-radius: 6px;
	overflow: hidden;
	margin-right: 20px;
}
.fang-jx .scrollable a img{
	width: 285px;
	height: 272px;
}

.fang-jx .scrollable .items {
  width:20000em;
  position:absolute;
}

.fang-jx .scrollable a .info-box{
	position: absolute;
	top: 224px;
	 transition: All .4s ease-in-out;
    -webkit-transition: All .4s ease-in-out;
    -moz-transition: All .4s ease-in-out;
    -o-transition: All .4s ease-in-out;
}
.fang-jx .scrollable a:hover .info-box{
	top: -48px;
}

.fang-jx .scrollable .info-box .info1{
	width: 285px;
	height: 48px;
	line-height: 48px;
	background: rgba(0,0,0,.7);
    color: #fff;
}
.fang-jx .scrollable .info-box .info2{
	width: 285px;
	padding-top: 100px;
	text-align: center;
	height: 272px;
	background: rgba(0,0,0,.7);
    color: #fff;
}
.fang-jx .scrollable .info-box .info2 p{
	line-height: 20px;
	font-size: 16px;
}
.fang-jx .scrollable .info-box .info2 .info2-con{
	font-size: 30px;
}
.fang-jx .scrollable .info-box .info1 .info1-l{
	font-size: 18px;
	margin-left: 10px;
	width: 190px;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.fang-jx .scrollable .info-box .info1 .info1-r{
	margin-right: 10px;
	width: 74px;
	text-align: right;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/*团购楼盘*/
.hot-group{
    width: 100%;
    height: auto;
    padding: 20px 0;
    background-color: #f6f6f6;
    overflow: hidden;
}
.hot-group .hot-list{
	position: relative;
	margin-top: 10px;
	width: 1220px;
}
.hot-group .hot-list li{
	float: left;
	margin:0 20px 40px 0;
	background-color: #fff;

}
.hot-group .hot-list a .img{
	position: relative;
	width: 285px;
	height: 186px;
	border-radius: 6px 6px 0 0;
	overflow: hidden;

}
.hot-group .hot-list .img img{
	width: 285px;
	height: 186px;
}
.hot-group .hot-list .img img:hover {
    opacity: 0.8;
}
.hot-group .hot-list .img p {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,0.5);
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.hot-group .hot-list .txt {
    width: 260px;
    margin: 15px auto;
}
.hot-group .hot-list .txt .title {
    width: 100%;
    height: 30px;
    position: relative;
}
.hot-group .hot-list .txt .title h3 {
	color: #333;
    line-height: 30px;
    font-size: 1.2em;
	overflow: hidden;
    width: 140px;
    text-overflow: ellipsis;
    white-space: nowrap
}
.hot-group .hot-list .txt .title span {
    position: absolute;
    right: 0px;
    top: 0px;
    color: #807f7f;
    line-height: 30px;
}
.hot-group .hot-list .txt .title em {
    color: #fa5741;
    font-style: normal;
}
.hot-group .hot-list .txt .price {
    width: 100%;
    height: 30px;
    line-height: 30px;
}
.hot-group .hot-list .price del {
    color: #929292;
    font-size: 0.8em;
    margin-left: 10px;
}
.hot-group .hot-list .txt .time {
    width: 100%;
}
.hot-group .hot-list .txt .time span {
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    color: #929292;
	font-size: 1em;
}
.hot-group .hot-list .txt .time .red {
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: #db051c;
    color: #fff;
    text-align: center;
    border-radius: 5px;
}
.hot-group .hot-list .txt .time .gray {
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: #eee;
    color: #666;
    text-align: center;
    border-radius: 5px;
}
.hot-group .hot-list .txt .price span {
    color: #fa5741;
    font-size: 1.2em;
}
/*热销新房*/
.hot-house{
	width: 100%;
	height: auto;
	padding: 20px 0;
	background-color: #f6f6f6;
	overflow: hidden;
}
.hot-house .hot-list{
	position: relative;
	margin-top: 10px;
	width: 1220px;
}
.hot-house .hot-list li{
	float: left;
	margin:0 20px 40px 0;

}
.hot-house .hot-list a .img{
	position: relative;
	width: 285px;
	height: 186px;
	border-radius: 6px 6px 0 0;
	overflow: hidden;

}
.hot-house .hot-list .img img{
	width: 285px;
	height: 186px;
}

.hot-house a .img .info-box{
	position: absolute;
	top: 146px;
	 transition: All .4s ease-in-out;
    -webkit-transition: All .4s ease-in-out;
    -moz-transition: All .4s ease-in-out;
    -o-transition: All .4s ease-in-out;
}
.hot-house a:hover .info-box{
	top: -40px;
}

.hot-house a.a1  .info-box .info1{
	width: 285px;
	height: 40px;
	line-height: 40px;
    color: #fff;
}
.hot-house a.a1 .info-box .info2{
	width: 285px;
	padding-top: 80px;
	text-align: center;
	height: 272px;
	background: rgba(0,0,0,.7);
    color: #fff;
}
.hot-house a.a1 .info-box .info1 .info1-r{
	margin-right: 20px;
	text-align: right;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.hot-house a.a1 .info-box  .info2 .info2-con{
	font-size: 30px;
}
.hot-house .hot-list .txt{
	padding: 8px 0;
	border: 1px solid #ece6e8;
	background-color: #fff;
	height: auto;
	overflow: hidden;
}
.hot-house .txt .txt-tit{
	height: 46px;
	line-height: 46px;
}
.hot-house .txt .txt-tit a{
	float: left;
	font-size: 18px;
	display: block;
	color: #333;
	margin-left: 12px;
	width: 140px;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.hot-house .txt .txt-tit p{
	float: right;
	text-align: right;
	font-size: 18px;
	color: #f95742;
	width: 120px;
	margin-right: 10px;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.hot-house .txt .add{
	margin:0 12px;
	height: 22px;
	line-height: 22px;
	display: block;
	width: 240px;
	color: #999;
	padding-left: 18px;
	background: url(../images/ico-add2.png) no-repeat left center;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.hot-house .txt .tag{
	width: 250px;
	height: 40px;
	overflow: hidden;
	margin: 10px auto 0;
}
.hot-house .txt .tag a{
	float: left;
	display: block;
	border: 1px solid #eee;
	padding: 0px 6px;
	line-height: 30px;
	color: #999;
	font-size: 13px;
	margin:0 6px 10px 0;
}
/*楼盘资讯*/
.index-news{
	padding: 30px 0;
}
.index-news .news-list{
	margin: 0px auto 20px;
	overflow: hidden;
}
.index-news .news-list .left li{
	float: left;
	width: 100%;
	padding: 24px 0;
	border-bottom: 1px dashed #e7e7e7;
}
.index-news .news-list .left{
	width: 860px;
	height: auto;
	overflow: hidden;
}
.index-news .left .img{
	float: left;
	margin-right: 24px;
	width: 160px;
	height: 124px;
	overflow: hidden;
}
.index-news .left .img img{
	width: 160px;
	height: 124px;
}
.index-news .left .txt{
	float:right;
	width: 676px;
	height: 124px;
	overflow: hidden;
}
.index-news .left .txt h2 a{
	display: block;
	width: 676px;
	font-weight: normal;
	font-size: 18px;
	line-height: 40px;
	color: #333;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.index-news .left .txt p{
	line-height: 22px;
	height: 48px;
	overflow: hidden;
	color: #999;
}
.index-news .left .txt span{
	line-height: 30px;
	color: #999;
}
.index-news .news-list .right{
	width: 300px;
	height:auto;
	overflow: hidden;
}
.index-news .right .tit{
	position: relative;
	width: 100%;
	
}
.index-news .right .tit a{
	display: block;
    height: 26px;
	font-size: 18px;
	line-height: 26px;
	color: #666;
/*	background: url(../images/ico-right.png) no-repeat 76px center;*/
}
.index-news .right ul{
	margin: 10px auto; 
}
.index-news .right li{
	float: left;
	width: 100%;
	padding: 10px 0;
}
.index-news .right li img{
	float: left;
	display: block;
	width: 122px;
	height: 92px;
	overflow: hidden;
}

.index-news .right li .txt{
	float:right;
	width: 160px;
	height: 92px;
	overflow: hidden;
}
.index-news .right li .txt a{
	height: 74px;
	display: block;
	overflow: hidden;
	line-height: 24px;
	color: #333;
}
.index-news .right li .txt span{
	color: #999;
}
/*购房服务特色*/
.hot-house .serve {
	padding: 30px 0;
	overflow: hidden;
}
.hot-house .serve li{
	float: left;
	width: 300px;
	overflow: hidden;
	text-align: center;
}
.hot-house .serve li h2{
	font-weight: normal;
	line-height: 50px;
	font-size: 26px;
	color: #f95742;
}
.hot-house .serve li p{
	color: #999;
}




