.kft-main {
    width: 1200px;
    margin: 30px auto;
    margin-bottom: 30px;
}
.kft-list {
    width: 926px;
}
.list-main ul li {
    border: 1px solid #ddd;
    margin-bottom: 20px;
}
.list-img a {
    display: block;
    line-height: 0;
}
.list-main ul li:hover {
    box-shadow: 0px 3px 12px rgba(0,0,0,0.1);
}
.list-info {
    line-height: 32px;
    width: 534px;
    padding:20px;
}

.list-head {
    padding: 10px 0;
}

.list-head h3 {
    color: #555;
    font-size: 28px;
    padding-bottom: 8px;
}
.list-head span {
    color: #ff6600;
    font-size: 18px;
}
a.list-zx {
    color: #6e6e6d;
    font-size: 18px;
    padding-left: 20px;
}
a.list-zx:hover{
    color: #ff6600;
}
p.list-dg {
    font-size: 20px;
    color: #6e6e6d;
}

.list-data {
    border-top: 1px dashed #ddd;
    padding-top: 20px;
    margin-top: 10px;
}

.list-data p {
    color: #999;
    font-size: 16px;
    display: inline-block;
    /* line-height: 30px; */
    padding-top: 10px;
}

.list-data p em {
    color: #db2823;
}

a.btn-ljbm {
    background: #f60;
    padding: 10px 32px;
    border-radius: 3px;
    color: #fff;
    font-size: 24px;
}

a.btn-end {
    background: #ECECEC;
    padding: 10px 32px;
    border-radius: 3px;
    color: #666;
    font-size: 24px;
    cursor:default;
}