body{color: #333}
.weizhi {
            margin: 20px auto;
            width: 1200px;
        }           
        .weizhi li a {
            /* float: left; */
            font-size: 14px;
            color: #c3c1c1;
        }           
        .weizhi li {
            float: left;
            color: #c3c1c1;
            padding-right: 10px;
        }
        li.current a {
            color: #00adef;
        }
        .af-icon-time {
    margin: 0 10px;
    font-size: 20px;
    font-weight: bold;
}

.af-icon-24xiaoshi {
    font-size: 24px;
    padding-right: 6px;
}
.kyf-right.right {
    width: 254px;
}

.r-bd,.r-hothouse {
    border: 1px solid #ddd;
    padding: 10px 14px;
    margin-bottom: 20px;
}
.r_tel{border: 1px solid #ddd;margin-bottom: 20px;}
h3.r-head {
    padding: 10px 0;
    padding-top: 5px;
    font-size: 18px;
    font-weight: normal;
}
p.tel-af {
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
}

.tel-icon {
    padding: 20px 14px;
}
.tel-icon a {
float: left;
    display: inline-block;
    text-align: center;
    width: 111px;
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
}
.tel-icon a:nth-child(even) {
    border-left: 1px solid #ddd;
}
.tel-icon a:nth-child(5),.tel-icon a:nth-child(6) {
    border-bottom: none;
}
.tel-icon a span {
    width: 68px;
    height: 68px;
    display: inline-block;
    
}
.tel-icon a .tel-icon-num1{
    background: url(../images/telicon.png) 0px 0px no-repeat;
} 
.tel-icon a .tel-icon-num2{
    background: url(../images/telicon.png) 0px -68px no-repeat;
}
.tel-icon a .tel-icon-num3{
    background: url(../images/telicon.png) 0px -136px no-repeat;
}
.tel-icon a .tel-icon-num4{
    background: url(../images/telicon.png) 0px -204px no-repeat;
} 
.tel-icon a .tel-icon-num5{
    background: url(../images/telicon.png) 0px -272px no-repeat;
}
.tel-icon a .tel-icon-num6{
    background: url(../images/telicon.png) 0px -340px no-repeat;
}
.tel-num p.tel-data {

    font-size: 14px;
}
.tel-num p {    
    font-size: 24px;
    padding-top: 10px;
}

.tel-num {
    background:#ff6600;
    padding: 20px 14px;
    color: #fff;
}
.tel-num span {
    
    font-size: 16px;
}
/* 立即看房*/  
.input-bd{
width: 182px;
    height: 24px;
    line-height: 24px;
    border: 1px solid #ddd;
    padding: 6px 10px 6px 30px;
    margin-top: 10px;
    font-size: 12px;
    color: #999;
    border-radius: 2px;
}
.input-bd-icon1{
    background: url(../images/icon-user.png) no-repeat;
}
.input-bd-icon2{
    background: url(../images/icon-tel.png) no-repeat;
}
input.tjsx-btn {
    display: block;
    width: 224px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 0px;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 20px;
    background: #ff6600;
    border-radius: 3px;
}

input.end-btn {
    display: block;
    width: 224px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 0px;
    color: #666;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 20px;
    background: #ECECEC;
    border-radius: 3px;
}
/* 热销楼盘*/
.r-hothouse ul li a p {
display: inline-block;
}

.r-hothouse ul li a {
    color: #333;
}

.r-hothouse ul li {
    margin: 10px 0;
}

.r-hothouse ul li a span em {
    color: #ff6600;
}