.kft-main{
    width: 1200px;
    margin: 30px auto;
}
.detail-head h3 {
    color: #555;
    font-size: 28px;
    display: inline-block;
}

.detail-head span {
    color: #ff6600;
    padding-left: 10px;
    font-size: 18px;
}

p.detail-dg {
    font-size: 20px;
    color: #6e6e6d;
}

p.detail-dz {
    font-size: 16px;
    color: #999;
}

.detail-data {
    border-top: 1px dashed #ddd;
    padding-top: 10px;
    margin-top: 10px;
}

.detail-data p {
    color: #999;
    font-size: 16px;
    /* line-height: 30px; */
}

.detail-data p em {
    color: #db2823;
}

.detail-info {
    line-height: 32px;
    width: 474px;
}

.kft-detail {
    width: 926px;
}
.detail-wrap,.detail-main {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
}

.detail-head {
    padding: 10px 0;
}
.detail-btn {
    padding-top: 10px;
}
a.btn-inxq {
    background: #02bdf4;
    padding: 0px 10px;
    font-size: 16px;
    margin-top: 10px;
}

.detail-btn a {
    color: #fff;
    display: inline-block;
}

a.btn-ljbm {
    background: #f60; 
    padding: 10px 32px;
    border-radius: 3px;
    font-size: 24px;
}

a.btn-end {
    background: #ECECEC;
    padding: 10px 32px;
    border-radius: 3px;
    color: #666;
    font-size: 24px;
    cursor:default;
}

select.input-text{ height: 36px;}
