		.conview {
				margin: 30px auto;
				width: 1200px;
			}
			
			.af-title {
				margin-bottom: 20px;
			}
			
			.af-title h1 {
				float: left;
				margin-right: 30px;
				font-size: 30px;
			}
			
			.af-title h1 p {
				display: inline-block;
				font-size: 14px;
				padding-left: 10px;
				font-weight: normal;
			}
			
			span.ckdt {
				margin-left: 10px;
				padding-left: 20px;
				color: #666;
			}
			
			a.fxfy {
				margin-top: 12px;
				float: right;
				color: #888;
				padding-left: 20px;
				font-size: 14px;
			}
			
			.af-title span {
				font-size: 10px;
				margin-right: 5px;
				padding: 2px 4px;
				margin-top: 12px;
				float: left;
				border: 1px solid;
			}
			
			.weizhi {
				margin: 20px auto;
				width: 1200px;
			}
			
			.weizhi li a {
				/* float: left; */
				font-size: 14px;
				color: #c3c1c1;
			}
			
			.weizhi li {
				float: left;
				color: #c3c1c1;
				padding-right: 10px;
			}
			
			li.current a {
				color: #00adef;
			}
			/*轮播info*/
			
			.nhouse_head {
				position: relative;
				margin-bottom: 30px;
				width: 1200px;
				margin: 0 auto;
				margin-bottom: 38px
			}
			
			.detail_slide {
				margin: auto;
				width: 730px;
				overflow: hidden;
			}
			
			.large_box {
				margin-bottom: 10px;
				width: 730px;
				height: 380px;
				overflow: hidden;
			}
			
			.large_box img {
				display: block;
			}
			
			.small_box {
				width: 730px;
				height: 73px;
				overflow: hidden;
			}
			
			.small_list {
				position: relative;
				float: left;
				width: 680px;
				height: 73px;
				overflow: hidden;
			}
			
			.small_list ul {
				height: 73px;
				overflow: hidden;
			}
			
			.small_list ul li {
				position: relative;
				float: left;
				margin-right: 10px;
				width: 126px;
			}
			
			.small_list ul li img {
				display: block;
			}
			
			.small_list ul li .bun_bg {
				position: absolute;
				top: 0;
				left: 0;
				width: 126px;
				height: 73px;
			}
			
			.small_list ul li .img_style {
				z-index: 999;
				color: #ffffff;
				font-size: 14px;
				text-align: center;
				height: 25px;
				margin-top: 48px;
				line-height: 25px;
				background: #000;
				filter: alpha(opacity=60);
				-moz-opacity: 0.6;
				-khtml-opacity: 0.6;
				opacity: 0.6;
			}
			
			.small_list ul li.on .bun_bg {
				display: block;
				color: #ffffff;
				height: 73px;
				width: 126px;
				background: #000;
				filter: alpha(opacity=60);
				-moz-opacity: 0.6;
				-khtml-opacity: 0.6;
				opacity: 0.6;
			}
			
			.btn {
				display: block;
				width: 20px;
				height: 73px;
				background-color: #777;
				background-repeat: no-repeat;
				background-position: center center;
				cursor: pointer;
			}
			
			.btn:hover {
				background-color: #e7000e;
			}
			
			.left_btn {
				float: left;
				margin-right: 10px;
				background-image: url(../images/left_btn.png);
			}
			
			.right_btn {
				float: right;
				background-image: url(../images/right_btn.png);
			}
			
			.img_style a {
				color: #ffffff
			}
			
			.img_style a:hover {
				color: orange
			}
			/* 房屋信息*/
			
			.hd_jiage {
				border-bottom: 1px solid #ddd;
			}
			
			.hd_jiage p {
				color: #f60;
				padding-bottom: 20px;
			}
			
			span.hd_jiage_tag {
				color: #666;
				margin-right: 10px;
			}
			
			span.hd_jiage_big {
				font-size: 32px;
			}
			
			
			span.lptb {
				/* width: 76px; */
				padding-right: 16px;
				color: #9c9fa1;
			}
			.hd_info ul li {
				display: flex;
				/* justify-content: flex-start; */
			}
			.hd_info ul li span {
				display: inline-table;
				line-height: 28px;
				word-break: break-all;
			}
			.hd_info ul li p.lptb02 {
				line-height: 28px;
			}
			
			.hd_info {
				padding: 20px 0;
				border-bottom: 1px solid #ddd;
			}
			
			.lpagent {
				padding: 20px 0;
				border-bottom: 1px solid #ddd;
			}
			
			span.lpagent_tel {
		    color: #f60;
		    height: 64px;
		    border: 1px solid #f60;
		    line-height: 64px;
		    font-size: 0;
		    text-align: center;
		    border-radius: 5px;
		    display: block;
			}
			span.lpagent_tel i {
			    font-size:24px;
			    margin-right: 10px;
			}
			lpagent_tel b {}
			
			span.lpagent_tel b {
				font-size:24px;
			}
			
			span.lpagent_tel em {
				top: -3px;
				font-size: 14px;
				padding: 0 8px;
			}
			
			img.lpagent_pic {
				float: left;
			}
			
			a.lpagent_btn {
				float: right;
			}
			
			.lpagent_con {
				float: left;
				margin-left: 12px;
				line-height: 24px;
				width: 246px;
			}
			
			p.con_name {
				font-size: 20px;
				font-weight: bold;
				margin-bottom: 8px;
			}
			
			p.con_tel {
				color: #f60;
			}
			
			.con_tel span {
				color: #888;
			}
			
			a.lpagent_btn {
				width: 80px;
				line-height: 26px;
				text-align: center;
				font-size: 12px;
				margin-top: 26px;
				background: #ff6600;
				border-radius: 4px;
				color: #fff;
			}
			
			/* .lpagent_serv {
				padding: 20px 0 10px;
			}
			
			.lpagent_serv_bt p {
				font-size: 20px;
				padding-bottom: 10px;
			}
			
			.lpagent_serv_bt span {
				display: inline-block;
				background: #f60;
				color: #fff;
				padding: 8px 18px;
				border-radius: 5px;
				margin-right: 12px;
			}
			
			.lpagent_serv_bt {
				margin-left: 20px;
			} */
			.lpagent_yh {
				display: flex;
				padding: 10px;
				border: 1px solid #ddd;
				background: #f8f8f8;
				font-size: 16px;
			}
			.lpagent_yh .af-icon-youhuiquan {
				color: #dd2446;
				font-size: 24px;
				padding-right: 10px;
			}
			.lpagent_yh .lpagent_yh_text{
				line-height: 26px;
				 width: 274px;
				 white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;}
			.lpagent_yh .lpagent_yh_btn {
				/* display: inline-block; */
				background: #dd2446;
				color: #fff;
				border-radius: 5px;
				padding: 3px 12px;
				margin-left: 10px;
			}
			
			.lpagent_bmtel {
				border: 2px solid #dd2446;
				border-radius: 5px;
				padding:10px 20px;
				margin-top: 15px;
				background: url(../images/telbg.jpg) no-repeat top;
			}
			
			.bm_wrap input#bm_ins {
				padding: 4px 10px;
				width: 236px;
				border-radius: 5px;
				border: 1px solid #ddd;
				font-size: 15px;
				background: #fff5e7;
				margin-bottom: 10px;
			}
			.lpagent_bm .bt_yhbm {
				background: #dd2446;
				color: #fff;
				border-radius: 5px;
				font-size: 18px;
				padding: 7px 16px;
			}
			.lpagent_tel  .tel_num {
				color: #fff;
				font-size: 20px;
				font-weight: bold;
				/* margin-bottom: 24px; */
			}
			
			.lpagent_tel .tel_num em {
				font-size: 14px;
				padding: 0 5px;
				font-weight: normal;
			}
			
			.lpagent_tel .lpagent_tel_btn {
				background: #fff;
				color: #dd2446;
				padding: 2px 8px;
				border-radius: 5px;
				cursor: pointer;
			}
			
			.lpagent_tel {
				padding-bottom: 24px;
			}
			.nh_content {
				width: 420px
			}
			/* nav */
			
			.anchor_layer .nav_wrap {
				width: 1200px;
				height: 45px;
				background-color: #f8f8f8;
				overflow: hidden;
				margin: 0 auto 40px;
				behavior: url(../images/pie.htc);
				border-bottom: 2px solid #02bdf4;
			}
			
			.anchor_layer .nav_wrap.navFix {
				position: fixed;
				left: 0;
				top: 0;
				width: 100%;
				min-width: 1220px;
				border-radius: 0;
				z-index: 11;
				background: #f8f8f8;
				border: 1px solid #ddd;
				border-bottom: 2px solid #02bdf4;
				font-size: 0px;
			}
			
			.anchor_layer .nav_wrap a {
				width: 120px;
				height: 45px;
				display: block;
				color: #555;
				line-height: 45px;
				text-align: center;
				font-size: 14px;
				behavior: url(pie.htc);
			}
			
			li.wrap_tab {
				display: inline-block;
				height: 44px;
				line-height: 44px;
				font-size: 16px;
			}
			
			.anchor_layer .nav_wrap .active a{
				background-color: #02bdf4;
				color: #fff;
				behavior: url(../images/pie.htc);
			}
	
			.nh_dt{width: 1200px;margin: 0 auto;    margin-bottom: 30px;}
			.clearfix:before,
			.clearfix:after {
				content: "";
				display: table;
			}
			
			.clearfix:after {
				clear: both;
			}
			
			.clearfix:before,
			.clearfix:after {
				content: "";
				display: table;
			}
			
			p.nh_data {
				width: 72px;
				text-align: right;
				float: left;
			}
			
			.nh_list_con {
				position: relative;
				width: 780px;
				margin-left: 30px;
				padding-left: 30px;
				border-left: #ddd solid 2px;
				float: left;
			}
			
			.nh_data span {
				font-size: 15px;
			}
			
			.nh_data em {
				color: #ccc;
				font-size: 12px;
			}
			
			p.node-circle {
				position: absolute;
				left: -17px;
				top: 0;
				width: 29px;
				height: 29px;
				line-height: 29px;
				background-color: #fff;
				border: 2px solid #fff;
			}
			
			.node-circle i {
				position: relative;
				left: -3px;
				top: 1px;
				font-size: 34px;
				color: #ccc;
			}
			
			.nh-tree-con {
				position: relative;
				font-size: 14px;
				line-height: 22px;
				color: #666;
				margin-bottom: 20px;
				padding: 15px;
				background-color: #f7f7f7;
				border-radius: 8px;
				border: 1px solid #eee;
			}
			
			i.arrow {
				position: absolute;
				left: -7px;
				top: 12px;
				width: 7px;
				height: 12px;
				background-position: -356px -305px;
			}
			
			.nh-tree-text {
				position: relative;
				margin: -5px 0;
				min-height: 40px;
			}
			.nh-tree-text a {
    color: #666;
}
				h2.nh_head {
				font-size: 22px;
				display: block;
				font-weight: normal;
				padding: 16px 0;
				border-bottom: 1px solid #ddd;
				margin-bottom: 20px;
			}
			