@charset "utf-8";
.map_nav{height: 60px;width: 100%; background: rgba(0,174,243,.9); position: relative; z-index: 11}
.nav_div{height: 60px;line-height: 60px;width: 100%;}
.map_logo{float: left;margin-left: 20px; height: 60px;width: 200px;}
.map_logo img{height: 40px; margin: 10px 0 0 0;}


.map_nav_list{float: left; }
.map_nav_list li{float: left;line-height: 60px;height: 60px;text-align: center; width: 78px;}
.map_nav_list li a{font-size: 16px;color: #ffffff}
.map_nav_list li:hover{ background-color:#12a1da;}


.map_nav_list li.item {
    float: left;
    position: relative;
}
.map_nav_list li.on {
    background-color: #12a1da;
}
.map_nav_list li.on {
    background-color:#12a1da;
}
.map_nav_list li.item a.item_a{
    padding: 0 20px;
    color:#fff;
    font-size: 16px;
    line-height: 75px;
}
.map_nav_list li.item ul {
    position: absolute;
    webkit-transition: all 0s;
    transition: all 0s;
    padding: 0 10px;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    top: 70%;
    background: #fff;
    border-radius: 2px;
    z-index: 1;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
    text-align: left;
    color: #151515;
    left: 0;
    display: block;
	margin-top: 12px;
}
.map_nav_list li.item:hover ul {
    webkit-transition: all .5s;
    transition: all .5s;
    font-size: 12px;
    max-height: 1000px;
    max-height: auto;
    max-height: none;
    overflow: visible;
    top: 80%;
	padding: 12px 10px;
	z-index: 100;
}
.map_nav_list li.item:hover ul:before {
    content: ".";
    font-size: 0;
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.15);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.15);
    top: -4px;
    left: 30px;
    background: #fff;
}
.map_nav_list li.item ul li {
    white-space: nowrap;
    line-height: 24px;
	height: 24px;
}
.map_nav_list li.item ul li a{
	display: block;
    color: #333;
	font-size: 14px;
	background-color: #fff;
}
.map_nav_list li.item ul li a:hover{

  color: #00aeef;
  background-color: #fff;
}
.map_nav_list li.item a.active {
color: #00aef3;
}



.map_nav_r{width: 240px;float: right;}
.map_nav_r div{width: 120px;float: left;text-align: right}
.map_nav_r div a{font-size: 16px;color: #ffffff}
.map_nav_s{background-color:#00aeef;position: relative}
.map_nav_s span,.map_nav_s1 span{height: 20px;width: 20px;display: block;position: absolute;top: 23px;left:20px;}
.map_nav_s a, .map_nav_s1 a{margin-right: 13px;}
.map_nav_s1{background-color:#01bdf3;position: relative}

#mapTopWrap .wrap { width: auto; padding: 0 0 0 20px; }
.mapTopView { float: right; width: 240px; }
.mapTopView a { float: left; width: 120px; font-size: 16px; height: 60px; line-height: 60px; text-align: center; color: #FFF; background: #16659A; }
.mapTopView a:hover { background: #09BDFF; }
.mapTopView a.current { background: #00A3E0; }
.mapWrap { width: 100%; position: relative; z-index: 1; }
.mapLeft { width: 368px; height: 100%; position: absolute; left: 0; top: 60px; border-right: 1px solid #DDD; background: #F5F5F5; overflow: hidden; z-index: 99; }
.mapRight { position: relative; height: 100%; margin-left: 369px; z-index: 98; overflow: hidden; background: #FFF; }
/**/
.mapSo { clear: both; padding: 10px 20px; width: 328px; overflow: hidden; }
.mapSo .dropdownBox { width: 350px; }
.mapSo select { width: 155px; font-size: 14px; border: 1px solid #E5E5E5; padding: 5px; margin: 0 10px 10px 0; }
.mapSotext { padding: 5px 0; }
.mapSotext input { height: 26px; line-height: 26px; width: 228px; font-size: 14px; margin-bottom: 10px; border: 1px solid #E2E2E2; padding: 5px 4px; vertical-align: top; }
.mapSotext .btn { width: 85px; padding: 4px 0; font-size: 14px; }
/**/
.mapListBox { clear: both; }
.mapListHead { clear: both; height: 38px; line-height: 38px; border-top: 1px solid #DDD; border-bottom: 1px solid #DDD; background: #EEE; }
.mapListHead dt { float: left; width: 160px; padding-left: 20px; }
.mapListHead dt b { color: #F60; margin: 0 5px; }
.mapListHead dd { float: right; width: 160px; text-align: center; }
.mapListHead dd span { float: left; width: 33.33%; *width: 33%; }
.mapListHead dd span a { display: block; border-left: 1px solid #DDD; }
.mapListHead dd span a:hover { background: #FFF; }
/**/
.mapList { clear: both; font-size: 12px; overflow: auto; font-family: Arial,sans-serif; }
.mapList ul { }
.mapList li { clear: both; border-bottom: 1px solid #DDD; }
.mapList li a { display: block; color: #666; padding: 10px; background: #FFF; }
.mapList li a:hover { color: #555; background: #F8F8F8; }
.mapList li a:hover h2 { color: #F60; }
.mapList li h2 { font-size: 20px; height: 30px;overflow:hidden; color: #2B334A; font-weight: normal;}
.mapList li dt, .mapList li dd { height: 24px; line-height: 24px; }
.mapList li dt em { margin-right: 10px; }
.mapList li dt em ins { margin-right: 3px; }
.mapList li dd span { margin-right: 20px; }
.mapList li dd span b { font-size: 14px; color: #F60; }

.h_m_l{margin-left: 3%;height: 100%;overflow: auto}
.nav_div1{height: 35px; color: #969696}
.nav_div1 a,.h_i1 p{color: #969696}
.map_h_i{height: 148px;}
.map_h_i li{
	float: left;
    width: 23%;
    height: 25px;
    margin: 2px;
    line-height: 25px;
    text-align: center;
    background: #2B334A;}
.map_h_i li a{color: #fff}
.h_i1 img{ float: left;margin-right: 8px;}
.h_i1 h1{height: 38px;}
.h_a1{height: 35px;line-height: 35px;}
.h_a2{height: 25px;line-height: 35px;}
.h_c_b{ color: #F60;font-weight: bold }
.h_i_div{margin-bottom: 10px;line-height: 24px;color: #666666;margin-top:20px;}
.h_i_div label{display: block;height: 20px;line-height: 20px;text-align:center;padding: 2px 2px;background: orange;color: #ffffff;width: 68px;}
.dropdownBox .s_w{width: 70px;}
.map_house_list h2{font-weight: 500;height: 30px;line-height:30px;background: #ffffff;margin: 10px 0px;padding-left: 5%}
.map_house_list h2 span{float: right;}
.map_house_list h2 span a{font-size: 12px;color: #666;padding-right: 5px;font-family: "宋体"}
.map_house_list ul li{float: none;width: 90%;height: 22px;line-height: 22px;margin-left: 5%;}
.map_house_list ul li a{color: #666666}
.map_house_list ul li a:hover{color: orange;text-decoration: underline}