.select {/* padding:20px 10px; */
	border-radius: 4px;
	width: 1198px;
	margin: 20px auto;
	padding-top: 10px;
	border: 1px solid #eee;
	background: #ffffff;
}
.select_search {
	height: 52px;
	border-bottom: #eee 1px dashed;
	margin: 0 20px;
}
.select_search .tschtext {
	border: 1px solid #ddd;
	height: 36px;
	line-height: 36px;
	width: 428px;
	padding: 0 8px 0 8px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	float: left;
}
.select_search .tschbtn2 {
	height: 38px;
	line-height: 38px;
	margin-right: 15px;
	width: 88px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	color: #fff;
	background-color: #02bdf2;
	border: 0;
	font-size: 16px;
	cursor: pointer;
	float: left;
}
.select_search a#search_but2 {
	height: 38px;
	line-height: 38px;
	width: 80px;
	text-align: center;
	font-size: 16px;
	background: #02bdf2;
	color: #fff;
	display: inline-block;
	float: left;
	border-radius: 3px;
}
#search_but2 i.iconfont.af-icon-locationfill {
	font-size: 24px;
	color: #d4d4d4;
	margin-right: 8px;
}
.select li {
	list-style: none;
	padding: 10px 0 7px 65px;
	font-size: 14px;
}
.select .select-list {
	border-bottom: #eee 1px dashed;
	margin: 0 20px;
}
.select dl {
	zoom: 1;
	position: relative;
	line-height: 24px;
}
.select dl:after {
	content: " ";
	display: block;
	clear: both;
	height: 0;
	overflow: hidden
}
.select dt {
	width: 100px;
	margin-bottom: 5px;
	position: absolute;
	top: 0;
	left: -90px;
	text-align: right;
	color: #666;
	height: 24px;
	line-height: 24px
}
.select dd {
	float: left;
	display: inline;
	margin: 0 0 5px 8px;
}
span.clearsx {
	color: #999;
	cursor: pointer;
	width: 20px;
	height: 20px;
	float: right;
	margin-left: 20px;
	margin-top: 2px;
	display: inline-block;
	background: url(../images/clear.png) left no-repeat;
}
.select a {
	display: inline-block;
	white-space: nowrap;
	height: 24px;
	padding: 0 10px;
	text-decoration: none;
	color: #666;
	border-radius: 5px;
	font-size: 14px;
}
.select a:hover {
	color: #02BDF2;
	background-color: #DDF3F9;
	cursor: pointer;
}
.select .selected a {
	color: #FFFFFF;
	background-color: #02BDF2;
}
.select-result dt {/*font-weight:bold*/
}
.select-no {
	color: #999
}
.select .select-result a {
	padding-right: 38px;
	background: #fff url(../images/clear.png) right no-repeat;
	color: #000;
	border: 1px solid #02bdf2;
	border-radius: 0;
}
li.select-result {
	background: #f8f8f8;
	padding-left: 85px;
	height: 29px;
}
#emptySearch {
	height: 20px;
	line-height: 20px;
	background: url(../images/icon_clear.png) no-repeat;
	padding-left: 20px;
	color: #02bdf2;
	cursor: pointer;
	text-decoration: none;
	border: 0;
}
