{include file="public/layout" /}

<body>
<link rel="stylesheet" href="__SKIN__/css/page.css" media="all">

<div class="layui-fluid" id="LAY-component-layer-list">
    <div class="layui-card">
        <div class="head-oper">
            <div class="fr">
                <form action="{:url('Minipro/ajax_archives_list')}" id="searchForm" method="get" onsubmit="layer_loading();">
                    {$searchform.hidden|default=''}
                    <div class="fl " >
                        <div class="layui-input-inline mt5">
                            {gt name='$typeidNum' value='1'}
                            <select name="typeid" id="searchTypeid">
                                <option value="">--所有文档--</option>
                                {$arctype_html}
                            </select>
                            {/gt}
                        </div>
                        <div class="layui-input-inline w240 mt5">
                            <input type="text" name="keywords" id="keywords" value="{$Request.param.keywords}" placeholder="标题搜索" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-input-inline w50 mt5">
                        <input type="hidden" name="func" value="{$func}">
                        <input type="hidden" name="sort" value="{$sort}">
                        <button class="layui-btn input-btn-search" type="submit"><i class="layui-icon layui-icon-search"></i></button>
                    </div>
                </form>
            </div>
        </div>
        <div class="layui-card-body">
            <div class="layui-form layui-border-box layui-table-view house-table"  lay-filter="demo" lay-id="admin-arctype" >
                <div class="layui-table-box">
                    <div class="layui-table-body " >
                        <table cellspacing="0" cellpadding="0" border="0" class="layui-table layui-form" lay-skin="line" style="width: 100%">
                            <thead >
                            <tr>
                                <th class="w60 tc"> <div class="layui-table-cell w60 tc" ><span>ID</span></div></th>
                                <th class="wauto"> <div class="layui-table-cell wauto"><span>标题</span></div></th>
                                <th class="w100 tc"> <div class="layui-table-cell w100 tc"><span>所属栏目</span></div></th>
                                <th class="w80 tc"> <div class="layui-table-cell w80 tc"><span>浏览量</span></div></th>
                                <th class="w110 tc"> <div class="layui-table-cell w110 tc"><span>更新时间</span></div></th>
                                <th class="w220 tc"> <div class="layui-table-cell w220 tc"><span>操作</span></div></th>
                            </tr>
                            </thead>
                            <tbody>
                            {empty name="list"}
                            <tr>
                                <td class="no-data" align="center" axis="col0" colspan="9">
                                    <i class="fa fa-exclamation-circle"></i>没有符合条件的数据
                                </td>
                            </tr>
                            {else /}
                            {foreach name="list" item="vo" key="k" }
                            <tr>
                                <td><div class="layui-table-cell w60 tc"> {$vo.aid} </div></td>
                                <td>
                                    <div class="layui-table-cell wauto" title=" ">
                                        {eq name="$Think.const.CONTROLLER_NAME.'@edit'|is_check_access" value="1"}
                                        <a href="javascript:void(0);" data-url="{:url('Article/edit',array('id'=>$vo['aid']))}" class="eju-event" data-type="Article_edit" style="{eq name="vo.is_b" value="1"} font-weight: bold;{/eq}">{$vo.title}</a>
                                        {else /}
                                        {$vo.title}
                                        {/eq}
                                        {assign name='showArcFlagData' value='$vo|showArchivesFlagStr'}
                                        {volist name='$showArcFlagData' id="vo1"}
                                            {eq name='$i' value='1'}<span style="color: red;">[{/eq}
                                            <b style="font-size: 12px;">{$vo1['small_name']}</b>
                                            {eq name='$i' value='$showArcFlagData|count'}]</span>{/eq}
                                        {/volist}
                                    </div>
                                </td>
                                <td>
                                    <div class="layui-table-cell w100 tc">
                                        <a href="{:url('Article/index', array('typeid'=>$vo['typeid']))}">{$vo.typename|default='<i class="red">数据出错！</i>'}</a>
                                    </div>
                                </td>
                                <td>
                                    <div class="layui-table-cell w80 tc">
                                        {$vo.click}
                                    </div>
                                </td>
                                <td><div class="layui-table-cell w110 tc">  {$vo.update_time|date='Y-m-d',###} </div></td>
                                <td>
                                    <div class="layui-table-cell w220 tc right-oper">
                                        <a href="javascript:;"
                                           data-id="{$vo.aid}" data-title="{$vo.title}" class="layui-btn layui-btn-xs select" style="color: #ffffff;">
                                            <i class="fa fa-pencil-square-o"></i>选择
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            {/foreach}
                            {/empty}
                            </tbody>
                        </table>
                    </div>
                </div>

                <!--分页-->
            </div>
            {$page}
        </div>
    </div>
</div>

<script>
    var aids = '';
    layui.config({
        base: '__SKIN__/' //静态资源所在路径
        ,version: '{$version}'
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'table'], function(){
        var $ = layui.$
            ,form = layui.form
            ,table = layui.table;

        /* 触发事件 */
        var active = {
            
        };

        $('#LAY-component-layer-list .layui-btn,.eju-event').on('click', function(){
            var type = $(this).data('type');
            active[type] && active[type].call(this);
        });

        $('#searchTypeid').change(function(){
            $('#searchForm').submit();
        });

        //开启关闭
        form.on('switch(is_recom)', function(obj){
            var dataid = $(this).attr('data-id');
            if ($(this).val() == 1){
                $(this).val(0);
            }else{
                $(this).val(1);
            }
            changeTableVal('archives','aid',dataid,'is_recom',this);
        });

    });

    $('.select').on('click',function(){
        var callback = "{$func}";
        var sort = "{$sort}";
        var fileurl_tmp = [];
        var id = $(this).data('id'),title = $(this).data('title');
        fileurl_tmp['aid'] = id;
        fileurl_tmp['sort'] = sort;
        fileurl_tmp['title'] = title;
        eval('window.parent.'+callback+'(fileurl_tmp)');
        window.parent.layer.closeAll();
    });

    $(function () {
        var openurl = "{$Request.param.openurl}";
        var msg = "{$Request.param.msg}";
        if (openurl){
            var iframes = layer.open({
                type: 2,
                title: false,//msg+'资讯',
                closeBtn: false,
                fixed: true, //不固定
                shadeClose: false,
                shade: 0.3,
                content: openurl
            });
            layer.full(iframes);
        }
    });


    /**
     * 获取修改之前的内容
     */
    function get_aids()
    {
        return aids;
    }
    $(".dropdown-bt").click(function(){
        $(".dropdown-menu").slideToggle(200);
        event.stopPropagation();
    })
    $(document).click(function(){
        $(".dropdown-menu").slideUp(200);
        event.stopPropagation();
    })
</script>
{include file="public/footer" /}
