{include file="public/layout" /}

<link rel="stylesheet" type="text/css" href="__SKIN__/js/codemirror/codemirror.css">
<script type="text/javascript" src="__SKIN__/js/codemirror/codemirror.js"></script>
<script type="text/javascript" src="__SKIN__/js/codemirror/mode/xml/xml.js"></script>
<script type="text/javascript" src="__SKIN__/js/codemirror/mode/javascript/javascript.js"></script>
<script type="text/javascript" src="__SKIN__/js/codemirror/mode/css/css.js"></script>
<script type="text/javascript" src="__SKIN__/js/codemirror/mode/php/php.js"></script>
<script type="text/javascript" src="__SKIN__/js/codemirror/mode/clike/clike.js"></script>
<script type="text/javascript" src="__SKIN__/js/codemirror/mode/htmlmixed/htmlmixed.js"></script>

<style type="text/css">
    /*移动端下拉选择框 三角按钮兼容*/
    @media screen and (max-width:450px) {
        .layui-form-select .layui-edge {
            top: 78%;
        }
    }
</style>

<body>
<div class="layui-fluid" style="overflow: hidden; padding: 0;">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body" pad15>
                    <div class="layui-form" wid100 lay-filter="">
                        <div class="layui-form-item">
                            <label class="layui-form-label"><b>*</b>模板目录</label>
                            <div class="layui-input-inline" style="width: 120px">
                                <span style="float: left; line-height: 38px;margin-right: 4px;">/template/{$tpl_theme}/</span>
                            </div>
                            <div class="layui-input-inline w70">
                                <select name="tpldir" id="tpldir" tabindex="1" lay-verify="required" style="width: 80px">
                                    {volist name="tpldirList" id="vo"}
                                        <option value="{$vo}">{$vo}</option>
                                    {/volist}
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label"><b>*</b>文件名称</label>
                            <div class="layui-input-inline w280" style="width: 310px;">
                                <span style="float: left;line-height: 38px;margin-right: 4px;">{$type}_{$nid}<font id="font_filename"></font></span>
                                <input style="width: 160px;float: left" type="text" id="filename" name="filename" lay-verify="required" value="" placeholder="自定义" class="layui-input">
                                <span style="float: left;line-height: 38px;margin-left: 4px;">.htm</span>
                            </div>
                            <div class="layui-input-inline layui-btn-container " style="width: auto;">
                              <div class="layui-form-mid layui-word-aux ey_helptips"></div>
                              <div class="layui-form-inline2 ey_helptips_txt">只允许字母、数字、下划线、连接符的任意组合</div>
                            </div>
                        </div>
                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label">HTML代码</label>
                            <div class="layui-input-block">
                                <textarea name="content" id="content" class="layui-textarea"></textarea>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <input type="hidden" name="type" value="{$type}" />
                                <input type="hidden" name="nid" value="{$nid}" />
                                <button class="layui-btn" lay-submit lay-filter="formSubmit">确认提交</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    layui.config({
        base: '__SKIN__/' //静态资源所在路径
        ,version: '{$version}'
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'set'],function(){
        var $ = layui.$
        ,layer = layui.layer
        ,form = layui.form;

        var editor = CodeMirror.fromTextArea(document.getElementById('content'), {
            lineNumbers: true, // 显示行号
            lineWrapping: true, // 在行槽中添加行号显示器、折叠器、语法检测器`
            mode: 'text/html'
        });

        $('#filename').keyup(function(){
            var filename = $(this).val();
            if (filename) {
                $('#font_filename').html('_');
            } else {
                $('#font_filename').html('');
            }

            $.ajax({
                type: "POST",
                url: "{:url('Arctype/ajax_newtpl', ['nosubmit'=>1,'_ajax'=>1])}",
                data: $('#post_form').serialize(),
                dataType: 'json',
                success: function (res) {
                    if(res.code == 1){
                        $('#txt_filename').html('');
                    } else {
                        $('#txt_filename').html(res.msg);
                    }
                }
            });
        });

        //监听提交
        form.on('submit(formSubmit)', function(data){
            var load = layer_loading();
            data.field.content = editor.getValue();
            data.field._ajax = 1;
            $.ajax({
                type : 'post',
                url : "{:url('Arctype/ajax_newtpl')}",
                data : data.field,
                dataType : 'json',
                success : function(res){
                    layer.close(load); //关闭loading
                    if(res.code == 1){
                        parent.layer.closeAll();
                        if ('lists' == res.data.type) {
                            var id = 'templist';
                        } else {
                            var id = 'tempview';
                        }
                        $('#'+id, window.parent.document).append('<option value="'+res.data.filename+'" selected="true">'+res.data.filename+'</option>');
                        parent.formRender();
                        parent.layer.msg(res.msg, {icon: 1, time: 1000});
                        return false;
                    }else{
                        layer.closeAll();
                        if (res.data.focus) {
                            $('#'+res.data.focus).focus();
                        }
                        showErrorAlert(res.msg);
                        return false;
                    }
                },
                error: function(e){
                    layer.close(load); //关闭loading
                    showErrorAlert();
                }
            });
            return false;
        });
    });

</script>
{include file="public/footer" /}