{include file="public/layout" /}
<body>
    <link rel="stylesheet" type="text/css" href="__SKIN__/js/codemirror/codemirror.css">
    <script type="text/javascript" src="__SKIN__/js/codemirror/codemirror.js"></script>
    <script type="text/javascript" src="__SKIN__/js/codemirror/mode/xml/xml.js"></script>
    <script type="text/javascript" src="__SKIN__/js/codemirror/mode/javascript/javascript.js"></script>
    <script type="text/javascript" src="__SKIN__/js/codemirror/mode/css/css.js"></script>
    <script type="text/javascript" src="__SKIN__/js/codemirror/mode/php/php.js"></script>
    <script type="text/javascript" src="__SKIN__/js/codemirror/mode/clike/clike.js"></script>
    <script type="text/javascript" src="__SKIN__/js/codemirror/mode/htmlmixed/htmlmixed.js"></script>
  <div class="layui-fluid">
      <div class="layui-row layui-col-space15">
          <div class="layui-col-md12">
            <div class="layui-card">
              <div class="layui-card-body" pad15>
                <div class="layui-form" wid100 lay-filter="">
                  <div class="layui-form-item">
                    <label class="layui-form-label"><b>*</b>文件路径</label>
                    <div class="layui-input-inline">
                     <input type="text" name="activepath" value="{$info['activepath']|default=''}" lay-verify="required" class="layui-input">
                    </div>
                    <div class="layui-input-inline layui-btn-container " style="width: auto;">
                      <div class="layui-form-mid layui-word-aux ey_helptips"></div>
                      <div class="layui-form-inline2 ey_helptips_txt">空白表示根目录，不允许用 “..” 形式的路径</div>
                    </div>
                  </div>
                  <div class="layui-form-item">
                    <label class="layui-form-label"><b>*</b>文件名称</label>
                    <div class="layui-input-inline">
                     <input type="text" name="filename" value="{$info['filename']|default=''}" lay-verify="required" class="layui-input">
                    </div>
                    <div class="layui-input-inline layui-btn-container " style="width: auto;">
                      <div class="layui-form-mid layui-word-aux ey_helptips"></div>
                      <div class="layui-form-inline2 ey_helptips_txt">不允许用 “..” 形式的路径</div>
                    </div>
                  </div>
                  <div class="layui-form-item">
                     <label class="layui-form-label">文件源码</label>
                     <div class="layui-form-inline2">
                        <textarea id="content" lay-ignore style='width:99%;height:450px;background:#ffffff;'>{$info.content|default=''}</textarea>
                     </div>
                  </div>
                  <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="formSubmit">确认提交</button>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
  </div>

  <script>
  layui.config({
    base: '__SKIN__/' //静态资源所在路径
    ,version: '{$version}'
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'set'], function(){
    var $ = layui.$
    ,layer = layui.layer
    ,form = layui.form;
      
    var editor = CodeMirror.fromTextArea(document.getElementById('content'), {
        lineNumbers: true, // 显示行号
        lineWrapping: true, // 在行槽中添加行号显示器、折叠器、语法检测器`
        autofocus:true,  //自动聚焦
        mode: '{$info.extension}'
    });

    //监听提交
    form.on('submit(formSubmit)', function(data){
        var load = layer_loading();
        data.field.content = editor.getValue();
        data.field._ajax = 1;
        $.ajax({
            type : 'post',
            url : "{:url('Filemanager/edit')}",
            data : data.field,
            dataType : 'json',
            success : function(res){
                layer.close(load); //关闭loading
                if(res.code == 1){
                    layer.msg(res.msg, {icon: 1, time: 1000}, function(){
                        parent.gourl(res.url);
                    });
                }else{
                    showErrorMsg(res.msg);
                }
            },
            error: function(e){
                layer.close(load); //关闭loading
                showErrorAlert();
            }
        });
        return false;
    });

  });

  </script>
{include file="public/footer" /}